<div class="dialog-header">
  <h2 mat-dialog-title>Change Password</h2>
  <button mat-icon-button class="dialog-close" (click)="closeModal()">
    <mat-icon>
      <img src="./assets/images/close-grey.svg" alt="Close" />
    </mat-icon>
  </button>
</div>
<mat-dialog-content class="dialog-body pb-0">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-12">
        <app-text-control
          [formControlModel]="formControls.PasswordField"
          [form]="form"
          (iconClick)="onIconClick(formControls.PasswordField)"
          class="w-100"
          #input1
        ></app-text-control>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="dialog-footer">
  <button
    mat-flat-button
    mat-dialog-close
    color="primary"
    [disabled]="!form.valid"
    (click)="onSaveClick()"
  >
    Save
  </button>
  <button mat-stroked-button color="primary" (click)="closeModal()">
    Cancel
  </button>
  <div class="info">
    {{ message }}
  </div>
</mat-dialog-actions>
