<ul class="qa-card-listing">
  <li *ngFor="let question of questions; let i = index">
    <div class="qa-card">
      <div class="qa-head">
        <div class="qa-left">
          <span class="qa-sequence">{{ question.sequence }}.</span>
          <p class="question-text" [innerHTML]="question.questionText"></p>
        </div>
        <div class="qa-right">
          <mat-chip class="ChipDefault">{{
            getTopicName(question.topicId)
          }}</mat-chip>
          <ng-container>
            <mat-chip
              [ngClass]="{
                ChipSuccess: question.status,
                ChipInactive: !question.status
              }"
              >{{ question.status ? "Active" : "InActive" }}
            </mat-chip>
          </ng-container>

          <mat-chip class="ChipInfo question-mark">
            {{ question.difficulty }}
          </mat-chip>
          <button
            mat-mini-fab
            class="btn-sm"
            [matMenuTriggerFor]="questionActionMenu"
            matTooltip="Action"
          >
            <mat-icon>
              <img src="./assets/images/more-black.svg" alt="Action" />
            </mat-icon>
          </button>
          <mat-menu #questionActionMenu="matMenu" xPosition="before">
            <button
              mat-menu-item
              (click)="createDuplicate(question.id)"
              *ngIf="question.parentId === null || question.parentId === 0"
              matTooltip="Duplicate"
            >
              <mat-icon>
                <img src="./assets/images/duplicate-grey.svg" alt="Duplicate" />
              </mat-icon>
              Duplicate
            </button>
            <button mat-menu-item (click)="edit(question.id)" matTooltip="Edit">
              <mat-icon>
                <img src="./assets/images/edit.svg" alt="Edit" />
              </mat-icon>
              Edit
            </button>
            <button
              mat-menu-item
              (click)="
                updateStatus({ id: question.id, status: !question.status })
              "
            >
              <mat-icon>
                <img
                  [src]="
                    !question.status
                      ? './assets/images/active.svg'
                      : './assets/images/inactive.svg'
                  "
                  alt="Status"
                />
              </mat-icon>
              {{ !question.status ? "Active" : "InActive" }}
            </button>
            <button
              mat-menu-item
              (click)="handleDeleteProfileDialog(question.id)"
              matTooltip="Delete"
            >
              <mat-icon>
                <img src="./assets/images/delete.svg" alt="Delete" />
              </mat-icon>
              Delete
            </button>
          </mat-menu>
        </div>
      </div>
      <div class="qa-body">
        <mat-chip-listbox
          class="mcq-chips-wrapper"
          *ngIf="question.optionType === optionType.Text"
        >
          <mat-chip-option
            *ngFor="let option of question.options; index as i"
            color="primary"
            [selectable]="false"
            disableRipple
            [selected]="option.isAnswer"
            ><span class="mcq-option">{{ optionIndex[i] }}</span
            >{{ option.optionValue }}</mat-chip-option
          >
        </mat-chip-listbox>
        <mat-chip-listbox
          class="mcq-chips-wrapper image-options"
          *ngIf="question.optionType === optionType.Image"
        >
          <mat-chip-option
            *ngFor="let option of question.options; index as i"
            color="primary"
            [selectable]="false"
            disableRipple
            [selected]="option.isAnswer"
            ><span class="mcq-option">{{ optionIndex[i] }}</span
            ><img
              class="option-img"
              [src]="baseImageUrl + option.optionValue"
              alt="Option 1"
            />
          </mat-chip-option>
        </mat-chip-listbox>
      </div>
    </div>
  </li>
</ul>
