<div class="wrapper">

    <mat-sidenav-container class="layout-sidenav-container">
        
        
        <mat-sidenav #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
            <!-- Start Header -->
            <app-header [isHandset]="isHandset$ | async" (onMenuIconClick)="drawer.toggle()"></app-header>
            <!-- End Header -->

            <!-- Start Breadcrumb -->
            <!-- <app-bread-crumb></app-bread-crumb> -->
            <!-- End Breadcrumb -->

            <!-- Main Content -->
            <main class="main-content">
                <router-outlet>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam eveniet libero laboriosam esse
                    impedit veniam explicabo fuga, a, atque ipsum maiores. Nesciunt quisquam eveniet accusamus neque
                    quos illum, facilis rem assumenda maiores inventore quas excepturi ad nostrum dolores
                    accusantium vel cum minima molestiae. Quisquam culpa soluta, hic quibusdam sit delectus
                    veritatis? Nam repudiandae, eaque itaque corporis possimus expedita rem, accusantium laboriosam
                    deserunt doloremque totam autem laudantium unde! Provident quasi pariatur, temporibus adipisci
                    laboriosam aspernatur repudiandae incidunt nulla? At eaque voluptas nulla dicta inventore
                    consequatur vero est, quis totam sapiente iusto cumque ipsa possimus? Minima quibusdam voluptate
                    in magnam, distinctio nihil necessitatibus dolorem impedit molestiae nemo corporis quidem totam
                    autem fuga nesciunt reiciendis hic illum amet nisi iste repellendus facere omnis eveniet.
                    Voluptates, omnis? Iure minus fuga labore voluptate in debitis aliquid saepe aut modi culpa, ex
                    architecto fugit vel tenetur impedit? Magnam quas consequuntur perspiciatis illum asperiores
                    dignissimos repudiandae tempore sed maxime aperiam obcaecati aliquam, maiores debitis, qui,
                    libero culpa sunt quaerat. At magni dolore neque labore fugit quo, ratione veritatis laborum
                    assumenda non animi adipisci explicabo necessitatibus voluptatem temporibus quibusdam eaque
                    officiis? Eos quia, dolore, excepturi omnis facilis quod iusto quaerat asperiores accusantium
                    aperiam illo quas cupiditate dolorem nesciunt beatae optio nulla sed quasi debitis voluptate
                    atque, minus eum. Quod, omnis. Ducimus expedita mollitia sint omnis maiores in repudiandae alias
                    quisquam, optio minus voluptates dolore recusandae dolores quam rem fugit neque nobis unde?
                    Porro soluta perspiciatis enim? Iure sint ab praesentium ullam neque perferendis corporis itaque
                    ipsam voluptatibus consequatur quas harum culpa omnis veritatis ipsum iste eum, debitis quos
                    eius consequuntur distinctio ex nesciunt rerum. Sit reprehenderit unde eligendi nihil adipisci
                    ullam numquam tempore esse id provident. Nostrum sed vitae quo at quaerat. Illo dolor, maiores
                    cum cumque eum numquam architecto doloremque modi consequuntur quibusdam vero placeat voluptatum
                    enim ea aut optio voluptatibus! Ratione tenetur error fugit cumque, corporis suscipit unde
                    incidunt doloribus optio! Doloremque eveniet vel repellat earum eum, eligendi accusamus, non
                    dolorem ut amet voluptatibus explicabo tempore nam cum repellendus recusandae voluptas.
                    Explicabo distinctio accusantium molestiae, doloremque eum, perferendis in similique eiusolore
                    recusandae dolores quam rem fugit neque nobis unde?
                    Porro soluta perspiciatis enim? Iure sint ab praesentium ullam neque perferendis corporis itaque
                    ipsam voluptatibus consequatur quas harum culpa omnis veritatis ipsum iste eum, debitis quos
                    eius consequuntur distinctio ex nesciunt rerum. Sit reprehenderit unde eligendi nihil adipisci
                    ullam numquam tempore esse id provident. Nostrum sed vitae quo at quaerat. Illo dolor, maiores
                    cum cumque eum numquam architecto doloremque modi consequuntur quibusdam vero placeat voluptatum
                    enim ea aut optio voluptatibus! Ratione tenetur error fugit cumque, corporis suscipit unde
                    incidunt doloribus optio! Doloremque eveniet vel repellat earum eum, eligendi accusamus, non
                    dolorem ut amet voluptatibus explicabo tempore nam cum repellendus recusandae voluptas.
                    Explicabo distinctio accusantium molestiae, doloremque eum, perferendis in similique eiusolore
                    recusandae dolores quam rem fugit neque nobis unde?
                    Porro soluta perspiciatis enim? Iure sint ab praesentium ullam neque perferendis corporis itaque
                    ipsam voluptatibus consequatur quas harum culpa omnis veritatis ipsum iste eum, debitis quos
                    eius consequuntur distinctio ex nesciunt rerum. Sit reprehenderit unde eligendi nihil adipisci
                    ullam numquam tempore esse id provident. Nostrum sed vitae quo at quaerat. Illo dolor, maiores
                    cum cumque eum numquam architecto doloremque modi consequuntur quibusdam vero placeat voluptatum
                    enim ea aut optio voluptatibus! Ratione tenetur error fugit cumque, corporis suscipit unde
                    incidunt doloribus optio! Doloremque eveniet vel repellat earum eum, eligendi accusamus, non
                    dolorem ut amet voluptatibus explicabo tempore nam cum repellendus recusandae voluptas.
                    Explicabo distinctio accusantium molestiae, doloremque eum, perferendis in similique eiusolore
                    recusandae dolores quam rem fugit neque nobis unde?
                    Porro soluta perspiciatis enim? Iure sint ab praesentium ullam neque perferendis corporis itaque
                    ipsam voluptatibus consequatur quas harum culpa omnis veritatis ipsum iste eum, debitis quos
                    eius consequuntur distinctio ex nesciunt rerum. Sit reprehenderit unde eligendi nihil adipisci
                    ullam numquam tempore esse id provident. Nostrum sed vitae quo at quaerat. Illo dolor, maiores
                    cum cumque eum numquam architecto doloremque modi consequuntur quibusdam vero placeat voluptatum
                    enim ea aut optio voluptatibus! Ratione tenetur error fugit cumqustinctio ex nesciunt rerum. Sit
                    reprehenderit unde eligendi nihil adipisci
                    ullam numquam tempore esse id provident. Nostrum sed vitae quo at quaerat. Illo dolor, maiores
                    cum cumque eum numquam architecto doloremque modi consequuntur quibusdam vero placeat voluptatum
                    enim ea aut optio voluptatibus! Ratione tenetur error fugit cumque, corporis suscipit unde
                    incidunt doloribus optio! Doloremque eveniet vel repellat earum eum, eligendi accusamus, non
                    dolorem ut amet voluptatibus explicabo tempore nam cum repellendus recusandae voluptas.
                    Explicabo distinctio accusantium molestiae, doloremque eum, perferendis in similique eiusolore
                    recusandae dolores quam rem fugit neque nobis unde?
                    Porro soluta perspiciatis enim? Iure sint ab praesentium ullam neque perferendis corporis itaque
                    ipsam voluptatibus consequatur quas harum culpa omnis veritatis ipsum iste eum, debitis quos
                    eius consequuntur distinctio ex nesciunt rerum. Sit reprehenderit unde eligendi nihil adipisci
                    ullam numquam tempore esse id provident. Nostrum sed vitae quo at quaerat. Illo dolor, maiores
                    cum cumque eum numquam architecto doloremque modi consequuntur quibusdam vero placeat voluptatum
                    enim ea aut optio voluptatibus! Ratione tenetur error fugit cumque, corporis suscipit unde
                    incidunt doloribus optio! Doloremque eveniet vel repellat earum eum, eligendi accusamus, non
                    dolorem ut amet voluptatibus explicabo tempore nam cum repellendus recusandae voluptas.
                    Explicabo distinctio accusantium molestiae, doloremque eum, perferendis in similique eiusolore
                    recusandae dolores quam rem fugit neque nobis unde?
                    Porro soluta perspiciatis enim? Iure sint ab praesentium ullam neque perferendis corporis itaque
                    ipsam voluptatibus consequatur quas harum culpa omnis veritatis ipsum iste eum, debitis quos
                    eius consequuntur distinctio ex nesciunt rerum. Sit reprehenderit unde eligendi nihil adipisci
                    ullam numquam tempore esse id provident. Nostrum sed vitae quo at quaerat. Illo dolor, maiores
                    cum cumque eum numquam architecto doloremque modi consequuntur quibusdam vero placeat voluptatum
                    enim ea aut optio voluptatibus! Ratione tenetur error fugit cumque, corporis suscipit unde
                    incidunt doloribus optio! Doloremque eveniet vel repellat earum eum, eligendi accusamus, non
                    dolorem ut amet voluptatibus explicabo tempore nam cum repellendus recusandae voluptas.
                    Explicabo distinctio accusantium molestiae, doloremque eum, perferendis in similique eius
                    nulla, animi itaque nisi in!
                </router-outlet>
            </main>
            <!-- End Main Content -->

            <!-- Start Footer -->
            <!-- <app-footer></app-footer> -->
            <!-- End Footer -->
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>