<div class="wrapper">

    <mat-sidenav-container class="layout-sidenav-container">
        
        
        <mat-sidenav #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
            <!-- Start Header -->
            <app-header [isHandset]="isHandset$ | async" (onMenuIconClick)="drawer.toggle()"></app-header>
            <!-- End Header -->

            <!-- Start Breadcrumb -->
            <!-- <app-bread-crumb></app-bread-crumb> -->
            <!-- End Breadcrumb -->

            <!-- Main Content -->
            <main class="main-content">
                <router-outlet></router-outlet>
            </main>
            <!-- End Main Content -->

            <!-- Start Footer -->
            <!-- <app-footer></app-footer> -->
            <!-- End Footer -->
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>