<div class="container-xxl px-0 mt-xl-3 mt-1">
  <div class="row">
    <div class="col-lg no-print">
      <app-mcq-test
        *ngIf="seconds"
        [seconds]="seconds"
        [isQuestionMenu]="questionsStatus.isQuestionsMenu"
      ></app-mcq-test>
    </div>
    <div class="col-lg-auto">
      <app-list-of-questions
        *ngIf="questionsStatus.isQuestionsMenu"
        [questionsStatus]="questionsStatus"
      ></app-list-of-questions>
    </div>
    <div class="container" *ngIf="IsFaceCaptureEnabled">
      <button
        [class]="!ShowCam ? 'showHideButtonRound' : 'showHideButtonSquare'"
        mat-mini-fab
        color="primary"
        aria-label="Example icon button with a home icon"
        (click)="showHideCam()"
      >
        <mat-icon>{{ ShowCam ? "cancel" : "camera_alt" }}</mat-icon>
      </button>
      <webcam
        [hidden]="!ShowCam"
        [trigger]="$trigger"
        (imageCapture)="handleImage($event)"
        [imageQuality]="1"
        class="bottom-right"
      ></webcam>
    </div>
  </div>
</div>
