<div class="container-xxl px-0 mt-xl-3 mt-1">
  <div class="row">
    <div class="col-lg no-print">
      <app-mcq-test *ngIf="seconds" [seconds]="seconds"></app-mcq-test>
    </div>
    <div class="col-lg-auto">
      <app-list-of-questions
        *ngIf="questionsStatus.isQuestionsMenu"
        [questionsStatus]="questionsStatus"
      ></app-list-of-questions>
    </div>
  </div>
</div>
<webcam
  [hidden]="true"
  [trigger]="$trigger"
  (imageCapture)="handleImage($event)"
  [imageQuality]="1"
  [width]="200"
  [height]="200"
></webcam>
