<div class="page-header">
  <div class="title-wrap">
    <mat-icon class="page-icon">
      <img src="./assets/images/question-primary.svg" alt="Question" />
    </mat-icon>
    <h4 class="title">Questions</h4>
  </div>
  <div class="action-list">
    <button
      mat-fab
      color="primary"
      routerLink="/admin/questions/add-question"
      matTooltip="Add"
    >
      <mat-icon
        ><img src="./assets/images/add-white-full.svg" alt="Add"
      /></mat-icon>
    </button>
    <button
      mat-flat-button
      color="primary"
      class="btn-with-icon"
      routerLink="/admin/questions/import-question"
      matTooltip="Import Question"
    >
      <mat-icon
        ><img src="./assets/images/import-white.svg" alt="Import"
      /></mat-icon>
      Import
    </button>
  </div>
</div>
<form [formGroup]="filterForm">
  <mat-card class="form-block mb-3">
    <mat-card-content class="pb-0">
      <div class="row">
        <div class="col-lg-auto order-lg-1 order-2 pb-lg-0 pb-1">
          <mat-chip-listbox
            class="selectable-chips-wrapper"
            formControlName="topic"
          >
            <mat-chip-option color="primary" selected value=""
              >All
              <span class="result">{{
                questionCount.totalCount
              }}</span></mat-chip-option
            >
            <mat-chip-option color="primary" [value]="questionTopic.Maths"
              >Maths
              <span class="result">{{
                questionCount.mathsCount
              }}</span></mat-chip-option
            >
            <mat-chip-option color="primary" [value]="questionTopic.Reasoning"
              >Reasoning
              <span class="result">{{
                questionCount.reasoningCount
              }}</span></mat-chip-option
            >
            <mat-chip-option color="primary" [value]="questionTopic.Technical"
              >Technical
              <span class="result">{{
                questionCount.technicalCount
              }}</span></mat-chip-option
            >
          </mat-chip-listbox>
        </div>
        <div class="col-auto order-lg-2 order-1">
          <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
              <mat-option value=""> All </mat-option>
              <mat-option [value]="true"> Active </mat-option>
              <mat-option [value]="false"> Inactive </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
<app-question-list
  [filterForm]="filterForm"
  *ngIf="questions"
  (deleteQuestion)="onDelete($event)"
></app-question-list>
