<div class="page-header">
    <div class="title-wrap">
        <mat-icon class="page-icon">
            <img src="./assets/images/question-primary.svg" alt="Question" />
        </mat-icon>
        <h4 class="title">Question</h4>
    </div>
    <div class="action-list">
        <button mat-fab color="primary" routerLink="/admin/questions/add-question">
            <mat-icon><img src="./assets/images/add-white-full.svg" alt="Add" /></mat-icon>
        </button>
        <button mat-flat-button color="primary" class="btn-with-icon" routerLink="/admin/questions/import-question">
            <mat-icon><img src="./assets/images/import-white.svg" alt="Import" /></mat-icon>
            Import
        </button>
    </div>
</div>

<mat-card class="form-block mb-3">
    <mat-card-content class="pb-0">
        <div class="row">
            <div class="col-auto">
                <mat-chip-listbox class="selectable-chips-wrapper">
                    <mat-chip-option color="primary" selected>All<span class="result">200</span></mat-chip-option>
                    <mat-chip-option color="primary">Maths<span class="result">50</span></mat-chip-option>
                    <mat-chip-option color="primary">Reasoning<span class="result">50</span></mat-chip-option>
                    <mat-chip-option color="primary">Programing<span class="result">50</span></mat-chip-option>
                    <mat-chip-option color="primary">technical <span class="result">50</span></mat-chip-option>
                </mat-chip-listbox>
            </div>
            <div class="col-auto">
                <mat-form-field appearance="outline">
                    <mat-label>Status</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let item of optionsList" [value]="item">
                            {{ item }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<div>

    <ul>
        <li>
            <div class="qa-card">
                <div class="qa-head">
                    <div class="qa-left">
                        <span class="qa-sequence">01.</span>
                        <p class="question-text">Occaecat in sint nulla cillum exercitation culpa aliquip enim consequat quis adipisicing do
                            dolor
                            qui reprehenderit excepteur.</p>
                    </div>
                    <div class="qa-right">
                        <mat-chip>Maths</mat-chip>
                        <mat-chip>Active</mat-chip>
                        <button mat-mini-fab class="btn-sm">
                            <mat-icon>
                                <img src="./assets/images/more-black.svg" alt="Action">
                            </mat-icon>
                        </button>
                    </div>
                </div>
                <div class="qa-body">
                    <mat-chip-listbox class="mcq-chips-wrapper">
                        <mat-chip-option color="primary" [selectable]="false" disableRipple><span
                                class="mcq-option">A</span>Checkbox</mat-chip-option>
                        <mat-chip-option color="primary" [selectable]="false" disableRipple selected><span
                                class="mcq-option">B</span>Checkbox</mat-chip-option>
                        <mat-chip-option color="primary" [selectable]="false" disableRipple><span
                                class="mcq-option">C</span>Checkbox</mat-chip-option>
                        <mat-chip-option color="primary" [selectable]="false" disableRipple><span
                                class="mcq-option">D</span>Checkbox</mat-chip-option>
                    </mat-chip-listbox>
                </div>
            </div>
        </li>
    </ul>
</div>