<div class="msg-block">
  <div class="msg-block-inner">
    <img src="assets/images/welcome-img.svg" alt="" class="msg-block-img" />
    <h2>welcome to {{ firstName + " " + lastName }}</h2>
    <button mat-flat-button color="primary" (click)="readyForTest()">
      I am Ready to Begin
    </button>
    <div class="float-container" *ngIf="this.testExists">
      <b class="basic-detail">Basic Details of Test</b>
      <table class="test-details">
        <tr>
          <td class="detail">Test Name:</td>
          <td class="detail-value">{{ testName }}</td>
        </tr>
        <tr>
          <td class="detail">Basic Points:</td>
          <td class="detail-value">{{ basicPoints }}</td>
        </tr>
        <tr>
          <td class="detail">Test Duration:</td>
          <td class="detail-value">{{ testDurationInMinutes }}</td>
        </tr>
        <tr>
          <td class="detail">Test Date:</td>
          <td class="detail-value">{{ testDate }}</td>
        </tr>
        <tr>
          <td class="detail">Start Time:</td>
          <td class="detail-value">{{ startTime }}</td>
        </tr>
        <tr>
          <td class="detail">Negative Marks:</td>
          <td class="detail-value">{{ negativeMarkingPoints }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
