.float-container {
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
  text-align: left;
}

.detail {
  width: 50%;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  border: 1px solid skyblue;
}
.detail-value {
  width: 50%;
  border: 1px solid skyblue;
}
.test-details {
  width: 100%;
  border: 1px solid skyblue;
}
.basic-detail {
  font-weight: bold;
  color: black;
}
