<!-- <div class="msg-block">
  <div class="msg-block-inner">
    <img src="assets/images/welcome-img.svg" alt="" class="msg-block-img" />
    <h2>welcome to {{ firstName + " " + lastName }}</h2>
    <button mat-flat-button color="primary" (click)="readyForTest()">
      I am Ready to Begin
    </button>
    <div class="float-container" *ngIf="this.testExists">
      <div class="card">
        <ul class="list-group list-group-flush"></ul>
        <div class="list">
          <ul class="stylel">
            <li class="list-group-item">
              Test Name: <b class="bold">{{ testName }}</b>
            </li>
            <li class="list-group-item">
              Basic Points: <b class="bold">{{ basicPoints }} Marks</b>
            </li>
            <li class="list-group-item">
              Test Duration:
              <b class="bold">{{ testDurationInMinutes }} Minutes</b>
            </li>
            <li class="list-group-item">
              Test Date: <b class="bold">{{ testDate }}</b>
            </li>
            <li class="list-group-item">
              Start Time: <b class="bold">{{ startTime }}</b>
            </li>
            <li class="list-group-item">
              Negative Marks: <b class="bold">{{ negativeMarkingPoints }}%</b>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="msg-block">
  <div class="msg-block-inner">
    <img src="assets/images/welcome-img.svg" alt="" class="msg-block-img" />
    <h2>welcome to {{ firstName + " " + lastName }}</h2>
    <div class="center">
      <ul>
        <li><span>Test Name :</span> {{ testName }}</li>
        <li><span>Date & time :</span> {{ testDate }}</li>
        <li><span>Basic Points :</span> {{ basicPoints }} Marks</li>
        <li>
          <span>Test Duration :</span> {{ testDurationInMinutes }} Minutes
        </li>
        <li><span>Negative Marks :</span> {{ negativeMarkingPoints }}%</li>
      </ul>
    </div>

    <button mat-flat-button color="primary" (click)="readyForTest()">
      I am Ready to Begin
    </button>
  </div>
</div>
