<div class="dialog-header">
  <h2 mat-dialog-title>{{ isEditMode ? "Edit College" : "Add College" }}</h2>
  <button
    mat-icon-button
    class="dialog-close"
    (click)="closeModal()"
    matTooltip="Close"
  >
    <mat-icon>
      <img src="./assets/images/close-grey.svg" alt="Close" />
    </mat-icon>
  </button>
</div>
<mat-dialog-content class="dialog-body pb-0">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-12">
        <app-text-control
          [formControlModel]="CollegeModel.name"
          [form]="form"
          class="w-100"
        ></app-text-control>
      </div>
      <div class="col-md-8">
        <app-text-control
          [formControlModel]="CollegeModel.abbreviation"
          [form]="form"
          class="w-100"
        ></app-text-control>
      </div>
      <div class="col-md-4">
        <app-select
          [formControlModel]="CollegeModel.status"
          [form]="form"
          [options]="selectOptionsForStatus"
        ></app-select>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="dialog-footer">
  <button
    mat-raised-button
    color="primary"
    label="isEditMode ? 'Save' : 'Add'"
    [disabled]="!form.valid"
    [mat-dialog-close]="form.value"
  >
    {{ isEditMode ? "Save" : "Add" }}
  </button>
  <button mat-stroked-button color="primary" [mat-dialog-close]="false">
    Cancel
  </button>
</mat-dialog-actions>
