<mat-card class="table-card">
  <mat-card-content>
    <div class="mat-table-wrapper">
      <table mat-table [dataSource]="dataSource" matSort>
        <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
        <tr mat-row *matRowDef="let row; columns: getDisplayedColumns()"></tr>
        <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
          <th mat-header-cell *matHeaderCellDef
            [ngClass]="{'text-center': column.columnDef === 'status' || column.isAction}">
            <ng-container *ngIf="column.columnDef !== 'status' && !column.isAction; else noSortHeader">
              <ng-container *ngIf="column.columnDef !== 'select'; else checkboxHeader">
                <div mat-sort-header>{{ column.header }}</div>
              </ng-container>
            </ng-container>
            <ng-template #noSortHeader>
              {{ column.header }}
            </ng-template>
            <ng-template #checkboxHeader>
              <mat-checkbox color="primary" (change)="$event ? toggleAllRows() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </ng-template>
          </th>
          <td mat-cell *matCellDef="let row"
            [ngClass]="{'text-center': column.columnDef === 'status' || column.isAction}">
            <ng-container *ngIf="!column.isAction; else actionTemplate">
              <ng-container *ngIf="column.columnDef !== 'select'; else selectTemplate">
                <ng-container *ngIf="column.columnDef === 'status'; else defaultTemplate">
                  <mat-chip [ngClass]="row.status ? 'ChipSuccess' : 'ChipInactive'">
                    {{ row.status ? 'Active' : 'Inactive' }}
                  </mat-chip>
                </ng-container>
                <ng-template #defaultTemplate>
                  {{ row[column.columnDef] }}
                </ng-template>
              </ng-container>
              <ng-template #selectTemplate>
                <mat-checkbox color="primary" (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
              </ng-template>
            </ng-container>

            <ng-template #actionTemplate>
              <button mat-icon-button [matMenuTriggerFor]="tableActionMenu" class="btn-small">
                <mat-icon>
                  <img src="./assets/images/more-black.svg" alt="Action">
                </mat-icon>
              </button>
              <mat-menu #tableActionMenu="matMenu" xPosition="before">
                <button mat-menu-item (click)="handleEdit(row)">
                  <mat-icon>
                    <img src="./assets/images/edit.svg" alt="Edit">
                  </mat-icon>
                  Edit
                </button>
                <button mat-menu-item *ngIf="!row.status; else activeButton" (click)="handleAction(row.id, true)">
                  <mat-icon>
                    <img src="./assets/images/active.svg" alt="Active">
                  </mat-icon>
                  Active
                </button>
                <ng-template #activeButton>
                  <button mat-menu-item (click)="handleAction(row.id, false)">
                    <mat-icon>
                      <img src="./assets/images/inactive.svg" alt="Inactive">
                    </mat-icon>
                    Inactive
                  </button>
                </ng-template>
                <button mat-menu-item (click)="handleDelete(row.id)">
                  <mat-icon>
                    <img src="./assets/images/delete.svg" alt="Delete">
                  </mat-icon>
                  Delete
                </button>
              </mat-menu>
            </ng-template>
          </td>
        </ng-container>
      </table>
    </div>
    <div *ngIf="!dataSource?.data || dataSource.data.length === 0" class="no-data-message">
      No data found
    </div>
    <div *ngIf="(!dataSource?.data || dataSource.data.length !== 0) && pagination" class="mat-custom-pagination">
      <div class="pagination-left">
        <mat-form-field appearance="outline" class="pagination-select remove-hint">
          <mat-label>Page Size</mat-label>
          <mat-select [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChange()">
            <mat-option *ngFor="let option of pageSizeOptions" [value]="option">{{ option }}</mat-option>
          </mat-select>
        </mat-form-field>
        <span class="page-info">{{ getDisplayedRange() }}</span>
      </div>
      <ul class="pagination-right">
        <li>
          <a mat-stroked-button href="javascript:void(0)" (click)="onPageChange('prev')" [disabled]="isFirstPage()">
            <img src="./assets/images/chevron-backward.svg" alt="Prev">
          </a>
        </li>
        <li *ngFor="let page of pageNumbers; let i = index">
          <a mat-stroked-button href="javascript:void(0)" (click)="onPageChangeToPage(page)"
            [class.active]="currentPageIndex === i">
            {{ page }}
          </a>
        </li>
        <li>
          <a mat-stroked-button href="javascript:void(0)" (click)="onPageChange('next')" [disabled]="isLastPage()">
            <img src="./assets/images/chevron-forward.svg" alt="Next">
          </a>
        </li>
      </ul>
    </div>
  </mat-card-content>
</mat-card>