<mat-card class="form-block ask-question-box">
  <mat-card-content>
    <div class="test-header">
      <div class="left">
        <p class="data-value">
          Aptitude Test
          <b>{{ groupName + "-" + collegeName }}</b>
        </p>
      </div>
      <div class="right">
        <p class="data-value">
          Time Remaining
          <b
            *ngIf="
              this.timeRemaining.hours > 0 &&
              this.timeRemaining.minutes > 0 &&
              this.timeRemaining.seconds > 0
            "
            >{{
              this.timeRemainingForExam.hours +
                ":" +
                this.timeRemainingForExam.minutes +
                ":" +
                this.timeRemainingForExam.seconds
            }}</b
          >
          <b
            *ngIf="
              this.timeRemaining.hours === 0 &&
              this.timeRemaining.minutes > 0 &&
              this.timeRemaining.seconds > 0
            "
          >
            {{
              this.timeRemainingForExam.minutes +
                ":" +
                this.timeRemainingForExam.seconds
            }}
          </b>
          <b
            *ngIf="
              this.timeRemaining.hours === 0 &&
              this.timeRemaining.minutes === 0 &&
              this.timeRemaining.seconds > 0
            "
          >
            {{ this.timeRemainingForExam.seconds }}
          </b>
          <b
            *ngIf="
              this.timeRemaining.hours > 0 &&
              this.timeRemaining.minutes > 0 &&
              this.timeRemaining.seconds === 0
            "
          >
            {{
              this.timeRemainingForExam.hours +
                ":" +
                this.timeRemainingForExam.minutes +
                ":" +
                this.timeRemainingForExam.seconds
            }}
          </b>
          <b
            *ngIf="
              this.timeRemaining.hours > 0 &&
              this.timeRemaining.minutes === 0 &&
              this.timeRemaining.seconds > 0
            "
          >
            {{
              this.timeRemainingForExam.hours +
                ":" +
                this.timeRemainingForExam.minutes +
                ":" +
                this.timeRemainingForExam.seconds
            }}
          </b>
          <b
            *ngIf="
              this.timeRemaining.hours === 0 &&
              this.timeRemaining.minutes > 0 &&
              this.timeRemaining.seconds === 0
            "
          >
            {{
              this.timeRemainingForExam.minutes +
                ":" +
                this.timeRemainingForExam.seconds
            }}
          </b>
          <b
            *ngIf="
              this.timeRemaining.hours > 0 &&
              this.timeRemaining.minutes === 0 &&
              this.timeRemaining.seconds === 0
            "
          >
            {{
              this.timeRemainingForExam.hours +
                ":" +
                this.timeRemainingForExam.minutes +
                ":" +
                this.timeRemainingForExam.seconds
            }}
          </b>
        </p>
      </div>
    </div>
    <div class="test-body">
      <p class="question-label">
        Question {{ question.questionNumber }} of {{ question.totalQuestions }}
      </p>
      <app-mcq-question
        [question]="question"
        (saveAnswer)="onSubmit($event)"
        (endTestEvent)="endTest()"
      ></app-mcq-question>
    </div>
  </mat-card-content>
</mat-card>
