<mat-card class="form-block ask-question-box">
  <mat-card-content>
    <div class="test-header">
      <div class="left">
        <p class="data-value">
          Welcome
          <b>{{ firstName + " " + lastName }}</b>
        </p>
      </div>
      <div class="right">
        <p class="data-value">
          Time Remaining
          <b>{{
            this.timeRemaining.hours +
              ":" +
              this.timeRemaining.minutes +
              ":" +
              this.timeRemaining.seconds
          }}</b>
        </p>
      </div>
    </div>
    <div class="test-body">
      <p class="question-label">
        Question {{ question.questionNumber }} of {{ question.totalQuestions }}
      </p>
      <app-mcq-question
        [question]="question"
        (saveAnswer)="onSubmit($event)"
      ></app-mcq-question>
    </div>
  </mat-card-content>
</mat-card>
