<div class="page-header">
  <div class="title-wrap">
    <mat-icon class="page-icon">
      <img
        src="./assets/images/manage-master-primary.svg"
        alt="Manage Master"
      />
    </mat-icon>
    <h4 class="title">Admin</h4>
  </div>
  <div class="action-list">
    <button
      mat-fab
      color="primary"
      (click)="handleAddEditAdminDialog(addAdmin)"
      matTooltip="Add"
    >
      <mat-icon
        ><img src="./assets/images/add-white-full.svg" alt="Add"
      /></mat-icon>
    </button>
  </div>
</div>
<mat-card class="form-block mb-3">
  <mat-card-content class="pb-0">
    <div class="row">
      <div class="col-sm">
        <form class="row" [formGroup]="form">
          <div class="col-lg-3 col-sm-6">
            <app-text-control
              [formControlModel]="AdminFilterFormConfigModel.search"
              [form]="form"
              (keyupEvent)="searchAdmin()"
            ></app-text-control>
          </div>
          <div class="col-lg-3 col-sm-6">
            <app-select
              [form]="form"
              [formControlModel]="AdminFilterFormConfigModel.status"
              [options]="optionsList"
              (selection)="searchAdmin()"
            >
            </app-select>
          </div>
        </form>
      </div>
      <div class="col-sm-auto pb-12p">
        <button
          mat-stroked-button
          color="primary"
          class="mt-auto"
          (click)="resetForm()"
        >
          clear
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<app-table
  [dataSource]="dataSource"
  [columns]="columns"
  [pagination]="true"
  (editClicked)="handleAddEditAdminDialog($event)"
  (deleteClicked)="handleDeleteAdminDialog($event)"
  (actionClicked)="updateStatus($event.row, $event.action)"
  [totalItemsCount]="totalItemsCount"
  [pageSize]="pageSize"
  (pageSizeChanged)="handlePageSizeChange($event)"
  (pageToPage)="handlePageToPage($event)"
  (pageChanged)="handlePageChange($event)"
  (sortingChanged)="handleDataSorting($event)"
></app-table>
