<div class="container-xxl p-0">
  <mat-card class="instructions-block mb-3">
    <mat-card-content>
      <h2>Important instructions for candidate</h2>
      <ul class="instructions-listing">
        <li>
          Laboris velit pariatur ex anim sunt et laboris magna mollit consequat
          ut est sunt id quis sit ad ut pariatur ut amet excepteur deserunt
          culpa pariatur ad anim tempor dolor in non consectetur elit sit dolor
          et voluptate excepteur elit irure ut sit dolor commodo dolore amet
          laborum nisi dolore occaecat officia proident ut anim eiusmod cillum
          quis
        </li>
        <li>
          adipisicing ut do ex dolor cupidatat est est elit cillum incididunt
          dolor
        </li>
        <li>
          dolor nisi et ex labore ad esse consectetur in esse mollit sint velit
          aliqua officia sit est nostrud labore aliqua ut ut aute sed ad cillum
          minim
        </li>
        <li>
          exercitation in nostrud excepteur in duis dolore sit enim sit dolore
          ut laborum enim minim veniam tempor ad magna voluptate proident
          eiusmod veniam in deserunt sed officia eu voluptate pariatur duis
          nostrud ullamco amet esse dolore tempor.
        </li>
        <li>
          deserunt tempor sunt ex mollit exercitation nostrud cillum
          reprehenderit veniam nulla cillum esse cupidatat mollit est
          adipisicing magna dolore cillum veniam labore esse voluptate id irure
          dolor labore id ullamco aliquip deserunt proident pariatur non
          cupidatat in ut voluptate ad sit qui elit dolore enim duis consectetur
          ad sed eiusmod elit sit non nulla consequat
        </li>
        <li>
          Laboris velit pariatur ex anim sunt et laboris magna mollit consequat
          ut est sunt id quis sit ad ut pariatur ut amet excepteur deserunt
          culpa pariatur ad anim tempor dolor in non consectetur elit sit dolor
          et voluptate excepteur elit irure ut sit dolor commodo dolore amet
          laborum nisi dolore occaecat officia proident ut anim eiusmod cillum
          quis
        </li>
        <li>
          adipisicing ut do ex dolor cupidatat est est elit cillum incididunt
          dolor
        </li>
        <li>
          dolor nisi et ex labore ad esse consectetur in esse mollit sint velit
          aliqua officia sit est nostrud labore aliqua ut ut aute sed ad cillum
          minim
        </li>
        <li>
          Laboris velit pariatur ex anim sunt et laboris magna mollit consequat
          ut est sunt id quis sit ad ut pariatur ut amet excepteur deserunt
          culpa pariatur ad anim tempor dolor in non consectetur elit sit dolor
          et voluptate excepteur elit irure ut sit dolor commodo dolore amet
          laborum nisi dolore occaecat officia proident ut anim eiusmod cillum
          quis
        </li>
        <li>
          adipisicing ut do ex dolor cupidatat est est elit cillum incididunt
          dolor
        </li>
        <li>
          dolor nisi et ex labore ad esse consectetur in esse mollit sint velit
          aliqua officia sit est nostrud labore aliqua ut ut aute sed ad cillum
          minim
        </li>
        <li>
          exercitation in nostrud excepteur in duis dolore sit enim sit dolore
          ut laborum enim minim veniam tempor ad magna voluptate proident
          eiusmod veniam in deserunt sed officia eu voluptate pariatur duis
          nostrud ullamco amet esse dolore tempor.
        </li>
        <li>
          deserunt tempor sunt ex mollit exercitation nostrud cillum
          reprehenderit veniam nulla cillum esse cupidatat mollit est
          adipisicing magna dolore cillum veniam labore esse voluptate id irure
          dolor labore id ullamco aliquip deserunt proident pariatur non
          cupidatat in ut voluptate ad sit qui elit dolore enim duis consectetur
          ad sed eiusmod elit sit non nulla consequat
        </li>
        <li>
          Laboris velit pariatur ex anim sunt et laboris magna mollit consequat
          ut est sunt id quis sit ad ut pariatur ut amet excepteur deserunt
          culpa pariatur ad anim tempor dolor in non consectetur elit sit dolor
          et voluptate excepteur elit irure ut sit dolor commodo dolore amet
          laborum nisi dolore occaecat officia proident ut anim eiusmod cillum
          quis
        </li>
        <li>
          adipisicing ut do ex dolor cupidatat est est elit cillum incididunt
          dolor
        </li>
        <li>
          dolor nisi et ex labore ad esse consectetur in esse mollit sint velit
          aliqua officia sit est nostrud labore aliqua ut ut aute sed ad cillum
          minim
        </li>
        <li>
          Laboris velit pariatur ex anim sunt et laboris magna mollit consequat
          ut est sunt id quis sit ad ut pariatur ut amet excepteur deserunt
          culpa pariatur ad anim tempor dolor in non consectetur elit sit dolor
          et voluptate excepteur elit irure ut sit dolor commodo dolore amet
          laborum nisi dolore occaecat officia proident ut anim eiusmod cillum
          quis
        </li>
        <li>
          adipisicing ut do ex dolor cupidatat est est elit cillum incididunt
          dolor
        </li>
        <li>
          dolor nisi et ex labore ad esse consectetur in esse mollit sint velit
          aliqua officia sit est nostrud labore aliqua ut ut aute sed ad cillum
          minim
        </li>
        <li>
          exercitation in nostrud excepteur in duis dolore sit enim sit dolore
          ut laborum enim minim veniam tempor ad magna voluptate proident
          eiusmod veniam in deserunt sed officia eu voluptate pariatur duis
          nostrud ullamco amet esse dolore tempor.
        </li>
        <li>
          deserunt tempor sunt ex mollit exercitation nostrud cillum
          reprehenderit veniam nulla cillum esse cupidatat mollit est
          adipisicing magna dolore cillum veniam labore esse voluptate id irure
          dolor labore id ullamco aliquip deserunt proident pariatur non
          cupidatat in ut voluptate ad sit qui elit dolore enim duis consectetur
          ad sed eiusmod elit sit non nulla consequat
        </li>
        <li>
          Laboris velit pariatur ex anim sunt et laboris magna mollit consequat
          ut est sunt id quis sit ad ut pariatur ut amet excepteur deserunt
          culpa pariatur ad anim tempor dolor in non consectetur elit sit dolor
          et voluptate excepteur elit irure ut sit dolor commodo dolore amet
          laborum nisi dolore occaecat officia proident ut anim eiusmod cillum
          quis
        </li>
        <li>
          adipisicing ut do ex dolor cupidatat est est elit cillum incididunt
          dolor
        </li>
        <li>
          dolor nisi et ex labore ad esse consectetur in esse mollit sint velit
          aliqua officia sit est nostrud labore aliqua ut ut aute sed ad cillum
          minim
        </li>
      </ul>
    </mat-card-content>
  </mat-card>

  <div
    class="page-action-buttons d-md-flex justify-content-between align-items-center"
  >
    <div class="mb-2 mb-md-0">
      <mat-checkbox color="primary" class="font14"
        >Lorem ipsum veniam sed tempor nostrud ex elit minim cupidatat
      </mat-checkbox>
    </div>
    <div class="d-flex justify-content-end">
      <button mat-flat-button mat-dialog-close color="primary">
        Start Test
      </button>
      <button mat-stroked-button color="primary" class="ms-1">Cancel</button>
    </div>
  </div>
</div>
