<div class="container-xxl p-0">
  <mat-card class="instructions-block mb-3">
    <mat-card-content *ngIf="testExist">
      <h2>Important instructions for candidate</h2>
      <ul class="instructions-listing">
        <li>
          <p class="text-justify">{{ messageToShow }}</p>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
  <div *ngIf="!testExist">
    <div class="d-flex justify-content-center align-middle">
      <div class="no-data-message">
        We're sorry, but we couldn't find any information related to your exam!!
      </div>
    </div>
    <div
      class="action-list cus-class d-flex justify-content-center align-middle"
    >
      <button
        mat-stroked-button
        class="back-btn-candidate btn-outline-primary"
        routerLink="/user"
      >
        <mat-icon>
          <img src="./assets/images/back-arrow.svg" alt="Action" />
        </mat-icon>
      </button>
    </div>
  </div>
  <mat-card-content
    *ngIf="testExist && NoCameraAccess"
    class="camera-warning mb-3 p-3 border"
  >
    <p>{{ status }}</p>
  </mat-card-content>
  <div
    class="page-action-buttons d-md-flex justify-content-between align-items-center"
    *ngIf="testExist"
  >
    <div class="mb-2 mb-md-0">
      <mat-checkbox color="primary" class="font14" [(ngModel)]="isChecked"
        >I have read and agreed to all the terms and conditions.
      </mat-checkbox>
    </div>
    <div class="d-flex justify-content-end">
      <button
        mat-flat-button
        color="primary"
        [disabled]="!isChecked || NoCameraAccess"
        (click)="startTest()"
        matTooltip="Start Test"
      >
        Start Test
      </button>
      <button
        mat-stroked-button
        color="primary"
        class="ms-1"
        routerLink="/user"
        matTooltip="Cancel"
      >
        Cancel
      </button>
    </div>
  </div>
</div>
