<div class="page-header">
  <div class="title-wrap">
    <mat-icon class="page-icon">
      <img src="./assets/images/test-primary.svg" alt="Test" />
    </mat-icon>
    <h4 class="title">Test</h4>
  </div>
  <div class="action-list">
    <button
      mat-stroked-button
      class="btn-stroked-default"
      routerLink="/admin/tests"
      matTooltip="Back"
    >
      <mat-icon>
        <img src="./assets/images/back-arrow.svg" alt="Action" />
      </mat-icon>
    </button>
  </div>
</div>

<mat-card class="default-card overflow-hidden">
  <mat-card-content>
    <mat-stepper [linear]="true" #stepper class="primary-stepper mt-md-0 mt-1">
      <mat-step label="Test Details" [stepControl]="basicTestDetails">
        <app-basic-details
          [basicTestDetails]="basicTestDetails"
          [testBasicDetailFormModel]="testBasicDetailFormModel"
          [optionsList]="optionsList"
          [minDate]="minDate"
          [isEditMode]="isEditMode"
          [getCurrentTime]="getMinTime"
          (saveDetails)="saveBasicDetails()"
        ></app-basic-details>
      </mat-step>
      <mat-step label="Candidates">
        <app-test-group
          [testGroupForm]="testGroupForm"
          [testGroupFormModel]="testGroupFormModel"
          [testGroupFilterModel]="testGroupFilterModel"
          [testGroupFilterForm]="testGroupFilterForm"
          [groups]="groups"
          [colleges]="colleges"
          [dataSource]="dataSource"
          [columns]="displayedColumns"
          [totalItemsCount]="totalItemsCount"
          [pageSize]="pageSize"
          [pagination]="isPagination"
          (handlePageSizeChangeEvent)="handlePageSizeChange($event)"
          (handlePageToPageEvent)="handlePageToPage($event)"
          (handlePageChangeEvent)="handlePageChange($event)"
          (handleDataSortingEvent)="handleDataSorting($event)"
          (search)="searchTestCandidates()"
          (changeSelection)="handleSelectionChange()"
          (updateGroup)="updateTestGroup()"
        ></app-test-group>
      </mat-step>
      <mat-step label="Questions">
        <app-test-questions
          [topics]="topics"
          [testQuestionsCountData]="testQuestionsCountData"
          [basicTestDetailForm]="basicTestDetails"
          [allInsertedQuestions]="allInsertedQuestions"
          [totalMarksQuestionsAdded]="totalMarksQuestionsAdded"
          [existingQuestionsTopicId]="existingQuestionsTopicId"
          [testId]="testId"
          (questionsAddedSuccess)="questionsAddedSuccess()"
          (deleteTopicWiseQuestions)="deleteQuestions($event)"
          (deleteAllQuestions)="deleteQuestions(0)"
          (questionEdited)="fetchInsertedQuestionsAgain()"
        ></app-test-questions>
      </mat-step>
    </mat-stepper>
  </mat-card-content>
</mat-card>
