<div class="page-header">
    <div class="title-wrap">
        <mat-icon class="page-icon">
            <img src="./assets/images/manage-master-primary.svg" alt="Manage Master" />
        </mat-icon>
        <h4 class="title">
            College
        </h4>
    </div>
    <div class="action-list">
        <button mat-fab color="primary" (click)="handleAddCollegeDialog()">
            <mat-icon><img src="./assets/images/add-white-full.svg" alt="Add"></mat-icon>
        </button>
    </div>
</div>

<mat-card class="table-card">
    <mat-card-content>
        <div class="mat-table-wrapper">
            <table mat-table [dataSource]="dataSource">

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name of College </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                </ng-container>

                <!-- Abbreviation Column -->
                <ng-container matColumnDef="abbreviation">
                    <th mat-header-cell *matHeaderCellDef> Abbreviation </th>
                    <td mat-cell *matCellDef="let row"> {{row.abbreviation}} </td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Status </th>
                    <td mat-cell *matCellDef="let row" class="text-center">
                        <ng-container [ngSwitch]="row.status">
                            <mat-chip *ngSwitchCase="true" [class.ChipSuccess]="row.status">
                                Active
                            </mat-chip>
                            <mat-chip *ngSwitchCase="false" [class.ChipInactive]="!row.status">
                                Inactive
                            </mat-chip>
                        </ng-container>
                    </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Actions </th>
                    <td mat-cell *matCellDef="let row" class="text-center">
                        <button mat-icon-button [matMenuTriggerFor]="tableActionMenu" class="btn-small">
                            <mat-icon>
                                <img src="./assets/images/more-black.svg" alt="Action">
                            </mat-icon>
                        </button>
                        <mat-menu #tableActionMenu="matMenu" xPosition="before">
                            <button mat-menu-item (click)="handleEditCollegeDialog(row)">
                                <mat-icon>
                                    <img src="./assets/images/edit.svg" alt="Edit">
                                </mat-icon>
                                Edit
                            </button>
                            <button mat-menu-item *ngIf="!row.status; else activeButton"
                                (click)="updateStatus(row,true)">
                                <mat-icon>
                                    <img src="./assets/images/active.svg" alt="Active">
                                </mat-icon>
                                Active
                            </button>

                            <ng-template #activeButton>
                                <button mat-menu-item (click)="updateStatus(row,false)">
                                    <mat-icon>
                                        <img src="./assets/images/inactive.svg" alt="Inactive">
                                    </mat-icon>
                                    Inactive
                                </button>
                            </ng-template>
                            <button mat-menu-item (click)="handleDeleteProfileDialog(row.id)">
                                <mat-icon>
                                    <img src="./assets/images/delete.svg" alt="Delete">
                                </mat-icon>
                                Delete
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
        </div>


        <div class="mat-custom-pagination">
            <div class="pagination-left">
                <mat-form-field appearance="outline" class="pagination-select remove-hint">
                    <mat-label>Page Size</mat-label>
                    <mat-select [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChange()">
                        <mat-option *ngFor="let option of pageSizeOptions" [value]="option">{{ option }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <span class="page-info">{{ getDisplayedRange() }}</span>
            </div>
            <ul class="pagination-right">
                <li>
                    <a mat-stroked-button href="javascript:void(0)" (click)="onPageChange('prev')"
                        [disabled]="isFirstPage()">
                        <img src="./assets/images/chevron-backward.svg" alt="Prev">
                    </a>
                </li>
                <li *ngFor="let page of pageNumbers; let i = index">
                    <a mat-stroked-button href="javascript:void(0)" (click)="onPageChangeToPage(page)"
                        [class.active]="currentPageIndex === i">
                        {{ page }}
                    </a>
                </li>
                <li>
                    <a mat-stroked-button href="javascript:void(0)" (click)="onPageChange('next')"
                        [disabled]="isLastPage()">
                        <img src="./assets/images/chevron-forward.svg" alt="Next">
                    </a>
                </li>
            </ul>
        </div>
    </mat-card-content>
</mat-card>