header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  transition: all 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);

  .mat-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 24px;
    height: auto;

    .header-left {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .logo {
        margin-right: 28px;

        img {
          height: 50px;
          width: auto;
          margin-bottom: 2px;
        }
      }
    }

    .header-right {
      ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        li {
          .logged-time {
            display: block;
            font-family: "Poppins", sans-serif;
            color: #ffffff;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 18px;
            letter-spacing: 0.48px;

            .time {
              display: inline-block;
              vertical-align: middle;
              // margin-left: 4%;
            }
          }

          .mat-mdc-menu-trigger.btn-user-profile {
            border-radius: 6px;
            padding: 12px 7px;
            margin: -12px -4px -12px 0;
            width: auto;
            height: auto;
            display: flex;
            align-items: center;

            .letter-avatar.mat-icon {
              width: 36px;
              height: 36px;
              border-radius: 50%;
              margin-right: 12px;
              background: #ffffff;
              color: #004d78;
              font-size: 16px;
              line-height: 20px;
              font-weight: 700;
            }

            .text-block {
              font-family: "Poppins", sans-serif;
              text-align: left;
              color: #fff;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 18px;
              margin-bottom: 0;
              // min-width: 90px;

              >.username {
                font-size: 12px;
                line-height: 16px;
                font-weight: 400;
                letter-spacing: 0.12px;
                color: rgba($color: #ffffff, $alpha: 0.8);
                margin-top: 4px;
                overflow: hidden;
                max-width: 200px;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
              }
            }

            .arrow.mat-icon {
              width: 16px;
              height: 16px;
              margin-left: 12px;
              margin-right: 0;
              transition: all 200ms ease;
            }

            &.mat-mdc-menu-trigger[aria-expanded="true"] {
              .arrow.mat-icon {
                transform: rotate(180deg);
              }
            }
          }

          &+li {
            margin-left: 24px;
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  header {
    .mat-toolbar {
      padding: 12px 16px;

      .header-left {
        .logo {
          order: 2;
          margin-left: 14px;

          img {
            height: 44px;
            width: auto;
          }
        }

        .btn-menu {
          order: 1;
          margin-left: -10px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  header {
    .mat-toolbar {
      padding: 10px 16px;

      .header-right {
        ul {
          li {
            .mat-mdc-menu-trigger.btn-user-profile {
              padding: 8px;
              margin: -8px 0 -8px 0;

              .letter-avatar.mat-icon {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {
  header {
    .mat-toolbar {
      padding: 8px 16px;

      .header-left {
        .logo {
          margin: -4px 0 -4px 8px;

          img {
            height: 54px;
          }
        }
      }

      .header-right {
        ul {
          li {
            .logged-time {
              display: block;
              text-align: right;
              font-size: 14px;
              font-weight: 400;
              line-height: 24px;

              .time {
                display: block;
              }
            }

            &+li {
              margin-left: 18px;
            }
          }
        }
      }
    }
  }
}