<div class="header site-header">
  <div class="left">
      <img src="assets/images/tatvasoft.png" alt="site-logo">
      <div class="navbar">
          <ul class="menu">
              <li><a href="#" title="public area">Public</a></li>
              <li class="spacer"></li>
              <li *ngIf="!isAuthenticated"><a routerLink="" title="click here to log-in">Login</a></li>
            <!-- <li *ngIf="isAuthenticated">
                <mat-menu #dashboardMenu="matMenu">
                  <button mat-menu-item routerLink="/master">Dashboard Page</button>
                </mat-menu>
                <button mat-menu-trigger [matMenuTriggerFor]="dashboardMenu">Dashboard</button>
              </li> -->
              <li class="spacer"></li>
              <li *ngIf="isAuthenticated"><a (click)="logout()" title="click here to log out">Logout</a></li>
          </ul>
      </div>
  </div>
</div>