<!-- <div [style]="dialogWidth" class="seachange-theme">
  <div mat-dialog-title>{{ title }}</div>
  <p class="sub-header-title">{{ subHeaderTitle }}</p>

  <div fxLayout fxLayoutAlign="end center" fxLayoutGap="0.8rem" class="actions">
    <button class="cancel-btn" mat-flat-button [mat-dialog-close]="false">
      {{ buttonText ? buttonText.cancel : 'cancel' }}
    </button>
    <button
      mat-flat-button
      [mat-dialog-close]="{ confirm: true }"
      color="primary"
      [ngClass]="{
        'primary-delete-btn': buttonText.ok === 'Archive'
      }"
    >
      {{ buttonText ? buttonText.ok : 'ok' }}
    </button>
  </div>
</div> -->

<mat-dialog-content class="dialog-body">
  <mat-icon class="confirmation-icon">
    <img src="./assets/images/delete-primary.svg" alt="Delete" />
  </mat-icon>
  <p class="confirmation-message">
    Are you sure you want to delete this record?
  </p>
</mat-dialog-content>
<mat-dialog-actions align="center" class="dialog-footer">
  <button
    mat-flat-button
    mat-dialog-close
    color="primary"
    (click)="deleteConfirmed(true)"
  >
    Delete
  </button>
  <button mat-stroked-button color="primary" [mat-dialog-close]="false">
    Cancel
  </button>
  <button
    mat-flat-button
    mat-dialog-close
    color="primary"
    [mat-dialog-close]="true"
  >
    Delete
  </button>
  <button mat-stroked-button color="primary" [mat-dialog-close]="false">
    Cancel
  </button>
</mat-dialog-actions>
