<mat-card
  class="form-block mcq-box"
  (contextmenu)="preventRightClick($event)"
  (window:keydown)="onKeyDown($event)"
>
  <mat-card-content>
    <div class="indication-listing">
      <p class="indication answered">
        Answered:<b>{{ questionsStatus.answered }}</b>
      </p>
      <p class="indication not-answered">
        Not Answered:<b>{{ questionsStatus.unAnswered }}</b>
      </p>
    </div>
    <ul class="mcq-listing">
      <li
        *ngFor="
          let question of questionsStatus.questionStatusVMs;
          let i = index
        "
      >
        <button
          *ngIf="question.status == questionStatus.Current"
          else
          otherStatus
          mat-mini-fab
          color="primary"
        >
          {{ i + 1 }}
        </button>

        <button
          *ngIf="question.status == questionStatus.Answered"
          mat-mini-fab
          color="primary"
          class="answered"
          (click)="fetchQuestion(question.questionId)"
        >
          {{ i + 1 }}
        </button>
        <button
          *ngIf="question.status == questionStatus.Skipped"
          mat-mini-fab
          color="primary"
          class="not-answered"
          (click)="fetchQuestion(question.questionId)"
        >
          {{ i + 1 }}
        </button>
        <button
          *ngIf="question.status == questionStatus.Unvisited"
          mat-mini-fab
          color="primary"
          class="unvisited"
          (click)="fetchQuestion(question.questionId)"
        >
          {{ i + 1 }}
        </button>
        <!-- disabled -->
      </li>
    </ul>
  </mat-card-content>
</mat-card>
