<div class="dialog-header">
  <h2 mat-dialog-title>{{ isEditMode ? "Edit" : "Add" }} Group</h2>
  <button
    mat-icon-button
    class="dialog-close"
    (click)="closeModal()"
    matTooltip="Close"
  >
    <mat-icon>
      <img src="./assets/images/close-grey.svg" alt="Close" />
    </mat-icon>
  </button>
</div>

<mat-dialog-content class="dialog-body pb-0">
  <form [formGroup]="form">
    <app-text-control
      [form]="form"
      [formControlModel]="formControls.name"
    ></app-text-control>
    <div class="d-flex justify-content-between align-items-center mt-n1 mb-1">
      <mat-checkbox color="primary" class="font14" formControlName="isDefault"
        >Set as Default Group</mat-checkbox
      >
    </div>
  </form>
  <mat-dialog-actions align="end" class="add-dialog-action mb-2">
    <app-button
      [color]="'primary'"
      [type]="'submit'"
      [label]="isEditMode ? 'Save' : 'Add'"
      [isDisabled]="!form.valid"
      (click)="onAddClick()"
      [class]="'button'"
      [matTooltip]="isEditMode ? 'Save' : 'Add'"
    ></app-button>
    <button
      mat-stroked-button
      [mat-dialog-close]="true"
      color="primary"
      (click)="closeModal()"
      matTooltip="Cancel"
    >
      Cancel
    </button>
  </mat-dialog-actions>
</mat-dialog-content>
