<div class="login-wrapper">
  <div class="login-header">
    <a class="logo" title="Tatvasoft">
      <img src="./assets/images/tatvasoft-white.svg" alt="Tatvasoft" />
    </a>
  </div>
  <div class="login-box-outer">
    <div class="login-box">
      <div class="welcome-text">
        <h2 class="title">Welcome</h2>
        <p class="description">Sign in to your account to continue</p>
      </div>
      <form [formGroup]="form" (ngSubmit)="login()">
        <div class="row">
          <div class="col-12">
            <app-text-control
              [formControlModel]="loginModel.userNameField"
              [form]="form"
              class="w-100"
            ></app-text-control>
          </div>
          <div class="col-12 password">
            <app-text-control
              [formControlModel]="loginModel.passwordField"
              [form]="form"
              (iconClick)="onIconClick(loginModel.passwordField)"
              class="w-100"
              #input
            ></app-text-control>
          </div>
          <div class="col-12 animation-target">
            <div
              class="d-flex justify-content-between align-items-center mt-n1 mb-2"
            >
              <mat-checkbox
                [ngModelOptions]="{ standalone: true }"
                *ngIf="isAdmin"
                [(ngModel)]="rememberMe"
                color="primary"
                class="font14"
                >Remember me</mat-checkbox
              >
            </div>
          </div>
          <div class="col-12 animation-target">
            <button
              mat-flat-button
              color="primary"
              class="w-100"
              matTooltip="Login"
            >
              Login
            </button>
          </div>
          <div class="col-12 animation-target mt-5" *ngIf="!isAdmin">
            <p class="account">
              Don't have an account?
              <a class="register" routerLink="/register">Register Now!</a>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="login-footer">
    <p>&copy; 2023 All Rights Reserved. Tatvasoft</p>
  </div>
</div>
