<div class="login-wrapper">
    <div class="login-header">
        <a class="logo" href="javascript:void(0)" routerLink="/" title="Tatvasoft">
            <img src="./assets/images/tatvasoft-white.svg" alt="Tatvasoft">
        </a>
    </div>
    <div class="login-box-outer">
        <div class="login-box">
            <div class="welcome-text">
                <h2 class="title">Welcome</h2>
                <p class="description">Sign in to your account to continue</p>
            </div>
            <form [formGroup]="form" (ngSubmit)="login()">
                <div class="row">
                    <div class="col-12">
                        <app-text-control [formControlModel]="loginModel.userNameField" [form]="form"
                            class="w-100"></app-text-control>
                    </div>
                    <div class="col-12">
                        <app-text-control [formControlModel]="loginModel.passwordField" [form]="form"
                            (iconClick)="onIconClick(input)" class="w-100" #input></app-text-control>
                    </div>
                    <div class="col-12 animation-target">
                        <div class="d-flex justify-content-between align-items-center mt-n1 mb-md-3 mb-2">
                            <mat-checkbox color="primary" class="font14">Remeber me</mat-checkbox>
                        </div>
                    </div>
                    <div class="col-12 animation-target">
                        <button mat-flat-button color="primary" class="w-100">
                            Login
                        </button>
                    </div>
                </div>
            </form>
            <!-- <div class="row">
                <div class="col-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Enter your username" />
                        <mat-icon matSuffix>
                            <img src="./assets/images/person-dark.svg" alt="User">
                        </mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="passwordHide ? 'password' : 'text'" placeholder="Enter your password" />
                        <button mat-icon-button matSuffix (click)="passwordHide = !passwordHide"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide">
                            <mat-icon>
                                <img [src]="passwordHide ? './assets/images/password-visibility-hide-dark.svg' : './assets/images/password-visibility-show-dark.svg'"
                                    alt="Password">
                            </mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="col-12 animation-target">
                    <div class="d-flex justify-content-between align-items-center mt-n1 mb-md-3 mb-2">
                        <mat-checkbox color="primary" class="font14">Remeber me</mat-checkbox>
                    </div>
                </div>
                <div class="col-12 animation-target">
                    <button mat-flat-button color="primary" class="w-100">
                        Login
                    </button>
                </div>
            </div> -->
        </div>
    </div>
    <!--  -->
    <div class="login-footer">
        <p>&copy; 2023 All Rights Reserved. Tatvasoft</p>
    </div>
</div>