
<div class="header site-header">
    <div class="left">
        <img src="assets/images/Tatvasoft-logo.jpg" alt="site-logo">
        <div class="navbar">
            <ul class="menu">
                <li><a href="#" title="public area">Public</a></li>
                <li class="spacer"></li>
                <li><a href="#" title="click here to log-in">Login</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="body" style="min-height: calc(100vh - 240px);">
    <div class="content admin-pages-wrapper">
        <a name="topofdoc" id="topofdoc"></a>
        <div class="heading-wrapper">
            <h1>Authentication</h1>
        </div>
        <div class="container">
            <div class="login-page-wrapper">
                <form [formGroup]="form" (ngSubmit)="login()">
                    <div class="error-message" *ngIf="loginFailed">
                        Incorrect username or password. Please try again.
                    </div>
                    <div class="row login-row tc-login-row">
                        <p class="sub">UserName:</p>
                    <app-text-control [formControlModel]="loginModel.userNameField" [form]="form"
                            class="w-100"></app-text-control>
                    </div>
                    <div class="row login-row tc-login-row">
                        <p class="sub">Password:</p>
                        <app-text-control [formControlModel]="loginModel.passwordField" [form]="form"
                            (iconClick)="onIconClick(input)" class="w-100" #input></app-text-control>
                    </div>
                    <div class="row forgot-pass-link">
                        <a routerLink="/forgot" title="reset the password" style="font-size: 90%; margin-left: 18%;">I
                            forgot my password</a>
                    </div>
                    <div class="row login-row tc-login-row">
                        <app-button type="submit" [isDisabled]="!form.valid" class="forgot-btn"
                            label="Login"> </app-button>
                    </div>
                </form>

            </div>
            <div class="pagehelp">In order to access the different sections of TCExam you must log in using the name and
                password provided to you by the system administrator</div>
        </div>
    </div>
</div>
<footer class="site-footer">
    <p>Version : 1.1.7920.20623</p>
    <p>Copyright © TatvaSoft All rights reserved.</p>
</footer>