<div class="page-header">
  <div class="title-wrap">
    <mat-icon class="page-icon">
      <img
        src="./assets/images/manage-master-primary.svg"
        alt="Manage Master"
      />
    </mat-icon>
    <h4 class="title">Degree</h4>
  </div>
  <div class="action-list">
    <button
      mat-fab
      color="primary"
      (click)="handleAddDegreeDialog(addDegree)"
      matTooltip="Add"
    >
      <mat-icon
        ><img src="./assets/images/add-white-full.svg" alt="Add"
      /></mat-icon>
    </button>
  </div>
</div>

<app-table
  [dataSource]="dataSource"
  [columns]="displayedColumns"
  [pagination]="false"
  (editClicked)="handleAddDegreeDialog($event)"
  (deleteClicked)="handleDeleteDegreeDialog($event)"
  (actionClicked)="updateStatus($event.row, $event.action)"
  (sortingChanged)="handleDataSorting($event)"
></app-table>
