<div class="page-header">
  <div class="title-wrap">
    <mat-icon class="page-icon">
      <img src="./assets/images/candidates-primary.svg" alt="Candidates" />
    </mat-icon>
    <h4 class="title">Import Candidates</h4>
  </div>
  <div class="action-list">
    <button
      mat-stroked-button
      class="btn-stroked-default"
      routerLink="/admin/candidate"
    >
      <mat-icon>
        <img src="./assets/images/back-arrow.svg" alt="Action" />
      </mat-icon>
    </button>
  </div>
</div>

<mat-card class="form-block mb-3">
  <mat-card-content>
    <div class="row justify-content-center">
      <div class="col-xxl-8">
        <form [formGroup]="form">
          <div class="row">
            <div class="col-sm-6">
              <div class="row form-group">
                <div class="col pe-0">
                  <!-- <mat-form-field appearance="outline">
                    <mat-label>Group Name</mat-label>
                    <mat-select formControlName="groupId">
                      <mat-option *ngFor="let item of groups" [value]="item.id">
                        {{ item.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field> -->
                  <app-select
                    [form]="form"
                    [formControlModel]="importCandidateFormConfig.groupId"
                    [options]="groups"
                  >
                  </app-select>
                </div>
                <div class="col-auto ps-0">
                  <button
                    mat-stroked-button
                    class="form-group-btn"
                    (click)="handleAddGroupDialog()"
                  >
                    <mat-icon>
                      <img src="./assets/images/add-grey.svg" alt="Back" />
                    </mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <app-select
                [form]="form"
                [formControlModel]="importCandidateFormConfig.collegeId"
                [options]="colleges"
              >
              </app-select>
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col-sm mb-2">
              <dropzone
                [message]="message"
                [config]="dropzoneConfig"
                (addedFile)="setPayloadForImportCandidate($event)"
                (error)="handleImportFileError($event)"
                (removedFile)="onDropzoneQueueComplete()"
              ></dropzone>
            </div>
            <div class="col-sm-auto mb-2">
              <button
                mat-flat-button
                color="primary"
                (click)="handleImportCandidate()"
                [disabled]="noFileSet"
              >
                Import
              </button>
            </div>
            <div class="col-12" *ngIf="importSuccessFully">
              <p class="message-success pb-1">
                Successfully imported {{ importCount }} candidates.
              </p>
            </div>
            <div class="col-12" *ngIf="fileName != ''">
              <p class="message-success pb-1">{{ fileName }}</p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div class="card-header">
  <div class="row align-items-center">
    <div class="col-sm">
      <h5 class="card-header-title">
        Total Candidates - {{ totalItemsCount }}
      </h5>
    </div>
    <div class="col-sm-auto d-flex justify-content-end mt-1 mt-sm-0">
      <button
        mat-stroked-button
        class="card-header-btn"
        (click)="handleActiveInactiveSelected(true)"
      >
        <mat-icon>
          <img src="./assets/images/active.svg" alt="Active" />
        </mat-icon>
      </button>
      <button
        mat-stroked-button
        class="card-header-btn"
        (click)="handleActiveInactiveSelected(false)"
      >
        <mat-icon>
          <img src="./assets/images/inactive.svg" alt="Inactive" />
        </mat-icon>
      </button>
      <button
        mat-stroked-button
        class="card-header-btn"
        (click)="handleDeleteSelected()"
      >
        <mat-icon>
          <img src="./assets/images/delete.svg" alt="Delete" />
        </mat-icon>
      </button>
    </div>
  </div>
</div>

<div class="card-form">
  <div class="row">
    <div class="col-sm">
      <form [formGroup]="filterForm">
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <app-text-control
              [formControlModel]="candidateFilterForm.search"
              [form]="filterForm"
              (keyup)="search()"
            ></app-text-control>
          </div>
          <div class="col-lg-4 col-sm-6">
            <app-select
              [form]="filterForm"
              [formControlModel]="candidateFilterForm.collegeId"
              [options]="colleges"
              (selection)="onFilterChange()"
            >
            </app-select>
          </div>
          <div class="col-lg-4 col-sm-6">
            <app-select
              [form]="filterForm"
              [formControlModel]="candidateFilterForm.status"
              [options]="status"
              (selection)="onFilterChange()"
            >
            </app-select>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-auto pb-2 pb-sm-0">
      <button mat-stroked-button color="primary" (click)="clearFilters()">
        clear
      </button>
    </div>
  </div>
</div>
<app-table
  [dataSource]="dataSource"
  [columns]="columns"
  [pagination]="true"
  (editClicked)="handleEditCandidate($event)"
  (deleteClicked)="getDeleteCandidateDialog($event)"
  (actionClicked)="getupdateStatus($event.row, $event.action)"
  [totalItemsCount]="totalItemsCount"
  [pageSize]="pageSize"
  (pageSizeChanged)="handlePageSizeChange($event)"
  (pageToPage)="handlePageToPage($event)"
  (pageChanged)="handlePageChange($event)"
  (sortingChanged)="handleDataSorting($event)"
  #myTable
></app-table>
