// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.
@import "@angular/material/theming";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: (
  50: #eaeff7,
  100: #d5dfee,
  200: #abc0de,
  300: #81a0cd,
  400: #5781bd,
  500: #2d61ac,
  600: #244e8a,
  700: #1b3a67,
  800: #122745,
  900: #091322,
  contrast: (
    50: #000000,
    100: #000000,
    200: #091322,
    300: #091322,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$accent: (
  50: #fef4e9,
  100: #fcead3,
  200: #f9d5a6,
  300: #f7bf7a,
  400: #f4aa4d,
  500: #f19521,
  600: #c1771a,
  700: #915914,
  800: #603c0d,
  900: #301e07,
  contrast: (
    50: #000000,
    100: #000000,
    200: #180f03,
    300: #180f03,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$red-palette: (
  50: #f9e8e8,
  100: #f3d0d0,
  200: #e7a2a2,
  300: #da7373,
  400: #ce4545,
  500: #c21616,
  600: #9b1212,
  700: #740d0d,
  800: #4e0909,
  900: #270404,
  contrast: (
    50: #000000,
    100: #000000,
    200: #130202,
    300: #130202,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Aptitude_test-primary: mat.define-palette($primary, 500);
$Aptitude_test-accent: mat.define-palette($accent, 500);

// The warn palette is optional (defaults to red).
$Aptitude_test-warn: mat.define-palette($red-palette, 500);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Aptitude_test-theme: mat.define-light-theme(
  (
    color: (
      primary: $Aptitude_test-primary,
      accent: $Aptitude_test-accent,
      warn: $Aptitude_test-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Aptitude_test-theme);

$heading-font-family: "'Poppins', sans-serif !important";

// color varianble
$primary300: mat-color($primary, 300);
$primary400: mat-color($primary, 400);
$primary500: mat-color($primary, 500);
$primary600: mat-color($primary, 600);
$primary700: mat-color($primary, 700);
$accent400: mat-color($accent, 400);
$accent500: mat-color($accent, 500);
$accent600: mat-color($accent, 600);
$black: #000000;
$white: #ffffff;
$color51545F: #51545f;
$color30343C: #30343c;
$color666870: #666870;
$color676D79: #676d79;

:root {
  --mdc-checkbox-state-layer-size: 36px !important;
  --mdc-radio-state-layer-size: 36px !important;
}

// Mat Button
.mdc-button.mat-mdc-button-base,
.mat-mdc-unelevated-button.mat-mdc-button-base {
  height: auto;
  padding: 12px 20px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.14px !important;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
  overflow: hidden;
  min-width: auto;
  font-family: "Poppins", sans-serif;
  border: 1px solid transparent;
}

// Mat Button Primary
.mdc-button.mat-primary.mat-mdc-unelevated-button {
  &:hover,
  &:focus,
  &:active {
    background-color: $primary500;
  }
}
.mdc-button.mat-primary.mdc-button--outlined {
  border-color: $primary500;
  background-color: transparent;
  &:hover,
  &:focus,
  &:active {
    background-color: rgba(76, 93, 222, 0.07);
  }
}
.mdc-button--outlined.mat-unthemed {
  &:not(:disabled) {
    border-color: #b8bfcb;
    background: $white;
  }
}

// Mat FormField
.mat-mdc-form-field {
  width: 100%;
  &.mat-form-field-appearance-outline {
    .mat-mdc-text-field-wrapper {
      background: $white;
      &.mdc-text-field--outlined {
        --mdc-outlined-text-field-outline-width: 1px;
        --mdc-outlined-text-field-focus-outline-width: 1px;
        --mdc-outlined-text-field-container-shape: 6px;
      }

      &:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
      &:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
      &:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
        border-color: #b8bfcb;
      }

      &:not(.mdc-text-field--disabled) .mdc-text-field__input::placeholder {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: rgba($color30343C, $alpha: 0.5);
        letter-spacing: 0;
        font-family: "Poppins", sans-serif;
      }

      &:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover
        .mdc-notched-outline
        .mdc-notched-outline__leading,
      &:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover
        .mdc-notched-outline
        .mdc-notched-outline__notch,
      &:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover
        .mdc-notched-outline
        .mdc-notched-outline__trailing,
      &:not(.mdc-text-field--disabled).mdc-text-field--focused
        .mdc-notched-outline
        .mdc-notched-outline__leading,
      &:not(.mdc-text-field--disabled).mdc-text-field--focused
        .mdc-notched-outline
        .mdc-notched-outline__notch,
      &:not(.mdc-text-field--disabled).mdc-text-field--focused
        .mdc-notched-outline
        .mdc-notched-outline__trailing {
        border-color: $primary500;
      }

      &.mdc-text-field--outlined {
        .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
          color: $color676D79 !important;
          --mat-mdc-form-field-label-transform: translateY(-28px)
            scale(var(--mat-mdc-form-field-floating-label-scale, 0.75));
        }
        &:not(.mdc-text-field--disabled).mdc-text-field--focused
          .mdc-floating-label,
        &:not(.mdc-text-field--disabled).mdc-text-field--focused
          .mdc-floating-label--float-above {
          color: $primary500 !important;
        }
      }

      .mat-mdc-form-field-flex {
        .mat-mdc-form-field-infix {
          min-height: 44px;
          padding-top: 13px;
          padding-bottom: 13px;

          .mat-mdc-chip-set {
            margin: 0;
            &.mat-mdc-chip-set[tabindex="0"] {
              margin: -7px 0;
              .mdc-evolution-chip-set__chips {
                .mat-mdc-chip-input.mdc-text-field__input {
                  &::placeholder {
                    opacity: 1;
                  }
                }
              }
            }
            .mdc-evolution-chip-set__chips {
              display: inline-flex;
              align-items: center;
              margin-left: 0;
              .mat-mdc-chip.mat-mdc-standard-chip {
                background: #e8ebef;
                margin: 4px 4px 4px -2px;
                &:hover {
                  .mat-mdc-chip-focus-overlay {
                    opacity: 0;
                  }
                }
                .mdc-evolution-chip__cell--primary {
                  padding-left: 6px;
                  .mat-mdc-chip-action-label {
                    font-size: 12px;
                    line-height: 26px;
                    font-weight: 400;
                    color: $color51545F;
                  }
                }
                .mdc-evolution-chip__cell--trailing {
                  padding: 0 6px;
                  .mat-mdc-chip-remove {
                    padding-left: 0;
                    padding-right: 0;
                    opacity: 1;
                    &:hover {
                      opacity: 0.8;
                    }
                  }
                }
              }
            }
          }
        }
        .mdc-notched-outline {
          .mat-mdc-floating-label {
            top: 21px;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            color: rgba($color30343C, $alpha: 0.5);
            letter-spacing: 0;
            font-family: "Poppins", sans-serif;
          }
        }
        .mat-mdc-form-field-input-control {
          font-size: 14px;
          line-height: 20px;
          font-weight: 400;
          color: $color30343C;
          margin: 0;
          height: 20px;
          display: block;
          letter-spacing: 0;
          font-family: "Poppins", sans-serif;
        }
        textarea.mat-mdc-form-field-input-control {
          height: auto;
          resize: initial;
        }
        .mat-mdc-form-field-icon-suffix {
          .material-icons {
            padding: 9px;
          }
          .mat-mdc-icon-button.mat-mdc-button-base {
            --mdc-icon-button-state-layer-size: 44;
            padding: 10px;
          }
        }
        .mat-mdc-form-field-icon-prefix {
          padding-right: 0;
          .material-icons {
            padding: 9px;
          }
          .mat-mdc-icon-button.mat-mdc-button-base {
            --mdc-icon-button-state-layer-size: 44;
            padding: 10px;
          }
        }
      }
      &.mdc-text-field--disabled {
        border-color: #b8b8b8;
        background: rgba($color: $black, $alpha: 0.07);
      }
    }
  }
  &.mat-mdc-form-field-has-icon-prefix {
    .mat-mdc-text-field-wrapper {
      padding-left: 0;
    }
  }
  .mat-mdc-form-field-subscript-wrapper {
    line-height: 27px;
  }
}

// Mat Checkbox
.mat-mdc-checkbox {
  margin-left: -9px;
  .mdc-checkbox {
    flex: 0 0 20px;
    width: 20px;
    height: 20px;
    .mdc-checkbox__background {
      border: 1px solid;
      width: 20px;
      height: 20px;
      border-radius: 3px;
      .mdc-checkbox__mixedmark {
        width: 10px;
      }
    }
    &:hover
      .mdc-checkbox__native-control:enabled:not(:checked):not(
        :indeterminate
      ):not([data-indeterminate="true"])
      ~ .mdc-checkbox__background,
    .mdc-checkbox__native-control:enabled:focus:focus:not(:checked):not(
        :indeterminate
      )
      ~ .mdc-checkbox__background {
      border-color: $primary500;
    }

    .mdc-checkbox__ripple,
    .mat-mdc-checkbox-ripple,
    .mdc-checkbox__native-control {
      top: 0;
      left: 0;
    }

    .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not(
        [data-indeterminate="true"]
      )
      ~ .mdc-checkbox__background {
      border-color: #b8bfcb;
    }

    .mdc-checkbox__native-control:enabled
      ~ .mdc-checkbox__background
      .mdc-checkbox__checkmark {
      background: url("./../../images/check-white.svg") no-repeat center center;
      background-size: 20px 20px;
    }

    .mdc-checkbox__native-control:enabled
      ~ .mdc-checkbox__background
      .mdc-checkbox__checkmark
      .mdc-checkbox__checkmark-path {
      display: none;
    }

    + .mdc-label {
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: $color51545F;
      position: relative;
      top: 0;
      padding-left: 0;
    }
  }
}

// Mat Icon
.mat-icon.material-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: inherit;
    height: inherit;
  }
}

.mat-mdc-menu-trigger[aria-expanded="true"] {
  background: rgba($color: $black, $alpha: 0.1);
}
.mat-mdc-icon-button {
  .mat-mdc-button-persistent-ripple {
    border-radius: inherit !important;
  }
}

// Mat Menu Panel
.mat-mdc-menu-panel.mat-mdc-elevation-specific {
  border-radius: 6px;
  box-shadow: 0px 3px 10px 0px rgba($color: $black, $alpha: 0.2);
  min-width: 110px;
  background: $white;
  .mat-mdc-menu-content {
    .mat-mdc-menu-item {
      min-height: auto;
      padding: 8px 10px;
      .mat-icon {
        width: 18px;
        height: 18px;
        margin-right: 10px;
      }
      .mat-mdc-menu-item-text {
        font-size: 14px;
        line-height: 20px;
        color: $color51545F;
        font-family: "Poppins", sans-serif;
      }
    }
  }
}

// Mat Fab Button
.mat-mdc-fab.mdc-fab {
  --mdc-fab-container-shape: 6px;
  --mdc-fab-icon-size: 20px;
  box-shadow: none !important;
  width: 46px;
  height: 46px;
  overflow: hidden;
  .mat-icon {
    width: 20px;
    height: 20px;
  }
  &.mat-primary {
    background-color: $primary500;
    &:hover,
    &:focus {
      background-color: $primary600;
    }
  }
}
.mat-mdc-mini-fab.mdc-fab {
  --mdc-fab-container-shape: 6px;
  --mdc-fab-icon-size: 18px;
  box-shadow: none !important;
  width: 40px;
  height: 40px;
  overflow: hidden;
  .mat-icon {
    width: 18px;
    height: 18px;
  }
  &.mat-primary {
    background-color: $primary500;
    &:hover,
    &:focus {
      background-color: $primary600;
    }
  }
}

// Mat Card
.mat-mdc-card.mdc-card {
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  background: $white;
  .mat-mdc-card-header {
    justify-content: space-between;
    align-items: center;
    padding: 24px 12px 0;
    .mat-mdc-card-title {
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      color: $color51545F;
    }
  }
  .mat-mdc-card-content {
    padding: 20px 12px 12px;
  }
  &.table-card {
    .mat-mdc-card-content {
      padding: 0;
    }
  }
  &.default-card {
    .mat-mdc-card-content {
      padding: 24px;
    }
  }
}

// Mat Table
.mat-table-wrapper {
  overflow-x: auto;
}
.mat-mdc-table.mdc-data-table__table {
  background: transparent;
  .mat-mdc-header-row {
    height: 46px;
    .mat-mdc-header-cell {
      background: transparent;
      color: $color51545F;
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      line-height: 24px;
      font-weight: 600;
      vertical-align: middle;
      padding: 11px 10px;
      border: 0;
      white-space: nowrap;
      border-bottom: 1px solid #d7e0ef;
      text-transform: capitalize;
      font-feature-settings: "clig" off, "liga" off;
      &.mat-column-action {
        width: 50px;
        text-align: center;
      }
      &.mat-column-select {
        width: 10px;
        .mat-mdc-checkbox {
          margin-left: 0;
          margin-right: -10px;
        }
      }
      &.mat-sort-header {
        .mat-sort-header-arrow {
          color: $color51545F;
        }
        &.text-center {
          .mat-sort-header-container {
            justify-content: center;
          }
        }
      }
    }
  }
  .mdc-data-table__content {
    .mat-mdc-row {
      height: 52px;
      .mat-mdc-cell {
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        vertical-align: middle;
        padding: 15px 10px;
        border-bottom: 1px solid #d7e0ef;
        color: $color51545F;
        &.green {
          color: #29aa29;
        }
        &.red {
          color: #c21616;
        }
        b {
          color: #313131;
          display: block;
          font-weight: 500;
        }
        strong {
          font-weight: 600;
        }
        small {
          font-size: 13px;
        }
        .mat-mdc-chip {
          margin: -6px 0;
        }
        .mat-mdc-menu-trigger {
          width: 40px;
          height: 40px;
          padding: 8px;
        }
        &.mat-column-action {
          padding-top: 6px;
          padding-bottom: 6px;
          min-width: auto;
          text-align: center;
        }
        &.mat-column-select {
          width: 10px;
          .mat-mdc-checkbox {
            margin: -10px -10px -10px 0;
          }
        }
      }
    }
  }
}
.mat-custom-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 15px;
  .pagination-left {
    display: flex;
    align-items: center;
    .pagination-select.mat-mdc-form-field {
      width: 98px;
      margin-right: 12px;
    }
    .page-info {
      display: inline-block;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      color: $color51545F;
    }
  }
  .pagination-right {
    display: flex;
    align-items: center;
    li {
      margin-left: 8px;
      .mat-mdc-outlined-button {
        text-decoration: none;
        &:not(:disabled) {
          align-items: center;
          justify-content: center;
          padding: 6px;
          border-radius: 4px;
          border: 1px solid #b8bfcb;
          min-width: 32px;
          height: 32px;
          .mdc-button__label {
            display: inline-flex;
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            color: $color51545F;
            img {
              width: 20px;
              height: 20px;
            }
          }
          &:hover {
            background: rgba($color: $primary500, $alpha: 0.08);
          }
          &.active {
            background: $primary500;
            border-color: $primary500;
            .mdc-button__label {
              color: $white;
            }
          }
        }
        &[disabled] {
          .mdc-button__label {
            img {
              opacity: 0.5;
            }
          }
        }
      }
      &:first-child {
        .mat-mdc-outlined-button {
          &:not(:disabled) {
            .mdc-button__label {
              img {
                margin-left: -2px;
              }
            }
          }
        }
      }
      &:last-child {
        .mat-mdc-outlined-button {
          &:not(:disabled) {
            .mdc-button__label {
              img {
                margin-right: -2px;
              }
            }
          }
        }
      }
    }
  }
}

// Mat Chips
.mat-mdc-chip.mat-mdc-standard-chip {
  min-height: 24px;
  height: auto;
  border-radius: 50px;
  &:not(.mdc-evolution-chip--disabled) {
    background: transparent;
  }
  .mdc-evolution-chip__action {
    padding: 0 16px;
    .mat-mdc-chip-action-label {
      font-size: 12px;
      line-height: 24px;
      font-weight: 500;
      color: $color51545F;
    }
  }
}
.ChipSuccess.mat-mdc-chip.mat-mdc-standard-chip:not(
    .mdc-evolution-chip--disabled
  ) {
  background-color: #edf9ed;
  .mdc-evolution-chip__action {
    .mat-mdc-chip-action-label {
      color: #46a746;
    }
  }
}
.ChipDanger.mat-mdc-chip.mat-mdc-standard-chip:not(
    .mdc-evolution-chip--disabled
  ) {
  background-color: #edf9ed;
  .mdc-evolution-chip__action {
    .mat-mdc-chip-action-label {
      color: #46a746;
    }
  }
}
.ChipInactive.mat-mdc-chip.mat-mdc-standard-chip:not(
    .mdc-evolution-chip--disabled
  ) {
  background-color: #ececec;
  .mdc-evolution-chip__action {
    .mat-mdc-chip-action-label {
      color: #8b8b8b;
    }
  }
}
.ChipInfo.mat-mdc-chip.mat-mdc-standard-chip:not(
    .mdc-evolution-chip--disabled
  ) {
  background-color: #eaf2ff;
  .mdc-evolution-chip__action {
    .mat-mdc-chip-action-label {
      color: $primary500;
    }
  }
}
.ChipWarn.mat-mdc-chip.mat-mdc-standard-chip:not(
    .mdc-evolution-chip--disabled
  ) {
  background-color: #fff9dc;
  .mdc-evolution-chip__action {
    .mat-mdc-chip-action-label {
      color: #fca119;
    }
  }
}
.ChipDefault.mat-mdc-chip.mat-mdc-standard-chip:not(
    .mdc-evolution-chip--disabled
  ) {
  background-color: #ececec;
  .mdc-evolution-chip__action {
    .mat-mdc-chip-action-label {
      color: $color51545F;
    }
  }
}

// Mat Select
.mat-mdc-form-field {
  .mat-mdc-select {
    display: block;
    margin: -2px 0;
    .mat-mdc-select-trigger {
      .mat-mdc-select-value {
        .mat-mdc-select-value-text {
          font-size: 14px;
          line-height: 20px;
          font-weight: 400;
          letter-spacing: 0.28px;
          color: $color30343C;
          font-family: "Poppins", sans-serif;
        }
      }
      .mat-mdc-select-arrow-wrapper {
        .mat-mdc-select-arrow {
          color: #737984;
          width: 14px;
          height: 14px;
          background: url("./../../images/select-chevron-down.svg") no-repeat
            center center;
          background-size: 14px 14px;
          transition: all 100ms ease-in-out;
          transform: rotate(0deg);
          svg {
            display: none;
          }
        }
      }
    }
    &.mat-mdc-select[aria-expanded="true"] {
      .mat-mdc-select-trigger {
        .mat-mdc-select-arrow-wrapper {
          .mat-mdc-select-arrow {
            transform: rotate(-180deg);
          }
        }
      }
    }
  }
}

// Mat Select Panel
div.mat-mdc-select-panel {
  box-shadow: 0px 3px 10px 0px rgba($color: $black, $alpha: 0.2) !important;
  padding: 5px 0px !important;
  border-radius: 6px !important;
  .mat-mdc-option.mdc-list-item {
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-transform: capitalize;
    color: $color51545F;
    min-height: 36px;
    padding: 8px 10px;
    .mat-mdc-option-pseudo-checkbox {
      display: none;
    }
    &:hover {
      background: #eef0f6;
    }
    &:focus,
    &.mat-mdc-option-active {
      background-color: transparent;
      color: $primary500;
    }
    &.mdc-list-item--selected:not(.mdc-list-item--disabled):not(
        .mat-mdc-option-multiple
      ) {
      background-color: transparent;
      color: $primary500;
      .mdc-list-item__primary-text,
      .mdc-list-item__primary-text
        + .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after {
        color: #23252c;
      }
    }
  }
}

// Mat Dialog
.primary-dialog.cdk-overlay-pane {
  width: 556px;
  // max-width: 556px !important;
  .mdc-dialog {
    box-shadow: none;
    .mdc-dialog__container {
      .mdc-dialog__surface {
        border-radius: 6px;
        .dialog-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: #eef0f6;
          padding: 12px 8px 12px 20px;
          .mat-mdc-dialog-title {
            flex-grow: 1;
            color: $primary500;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            text-transform: capitalize;
            padding: 0;
            margin-right: 16px;
            &::before {
              display: none;
            }
          }
          .dialog-close.mdc-icon-button {
            flex-shrink: 0;
            width: 36px;
            height: 36px;
            padding: 6px;
          }
        }
        .mat-mdc-dialog-content.dialog-body {
          padding: 24px;
        }
        .mat-mdc-dialog-actions.dialog-footer {
          padding: 14px 20px;
          .mat-mdc-button-base + .mat-mdc-button-base {
            margin-left: 12px;
          }
        }
      }
    }
  }
  &.dialog-lg {
    width: 960px;
    max-width: 960px !important;
  }
}

// Mat Confirmation Dialog
.confirmation-dialog.cdk-overlay-pane {
  width: 452px;
  max-width: 452px !important;
  .mdc-dialog {
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
    .mdc-dialog__container {
      .mdc-dialog__surface {
        border-radius: 6px;
        .mat-mdc-dialog-content.dialog-body {
          padding: 24px 24px 10px;
          text-align: center;
          .confirmation-icon {
            margin: 4px auto 20px;
            width: 80px;
            height: 80px;
            background: rgba($color: $primary500, $alpha: 0.09);
            border-radius: 50%;
            img {
              width: 36px;
              height: 36px;
            }
          }
          .confirmation-message {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            color: $color51545F;
          }
        }
        .mat-mdc-dialog-actions.dialog-footer {
          padding: 20px;
          min-height: auto;
          .mat-mdc-button-base + .mat-mdc-button-base {
            margin-left: 12px;
          }
        }
      }
    }
  }
}

// Mat Datepicker Panel
.mat-datepicker-popup {
  .mat-datepicker-content {
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    .mat-datepicker-content-container {
      .mat-calendar {
        height: auto;
        .mat-calendar-header {
          .mat-calendar-controls {
            margin: 1% calc(4.7142857143% - 16px) 5%;
            .mat-mdc-button:not(:disabled) {
              padding: 8px;
              color: #5a5a5a;
            }
          }
        }
        .mat-calendar-table {
          .mat-calendar-table-header {
            th {
              font-size: 14px;
              font-weight: 300;
              color: $color51545F;
            }
          }
          .mat-calendar-body {
            .mat-calendar-body-label {
              font-size: 16px;
              line-height: 20px;
              font-weight: 600;
              padding: 10px !important;
            }
            .mat-calendar-body-cell-container {
              .mat-calendar-body-cell {
                .mat-calendar-body-cell-content {
                  color: #6a6a6a;
                  &.mat-calendar-body-today:not(
                      .mat-calendar-body-selected
                    ):not(.mat-calendar-body-comparison-identical) {
                    border-color: $primary500;
                  }
                  &.mat-calendar-body-selected {
                    color: $white;
                  }
                }
                &:not(.mat-calendar-body-disabled):hover
                  > .mat-calendar-body-cell-content:not(
                    .mat-calendar-body-selected
                  ):not(.mat-calendar-body-comparison-identical) {
                  background: #eaeaea;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Mat Datepicker/Timepicker
.mat-datepicker-toggle {
  .mat-mdc-icon-button {
    display: flex;
    .mat-datepicker-toggle-default-icon {
      path {
        display: none;
      }
      background: url("./../../images/datepicker-grey.svg") no-repeat center
        center;
      background-size: 20px 20px;
    }
  }
}
.mat-time-picker.mat-mdc-form-field {
  &.mat-form-field-appearance-outline {
    .mat-mdc-text-field-wrapper
      .mat-mdc-form-field-flex
      .mat-mdc-form-field-icon-suffix {
      .mat-mdc-icon-button.mat-mdc-button-base {
        padding: 12px;
        margin-right: 1px;
        .mat-icon {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
ngx-material-timepicker-container {
  .timepicker-overlay {
    ngx-material-timepicker-content {
      .timepicker {
        border-radius: 6px;
        overflow: hidden;
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
        width: 320px;
        .timepicker__header {
          background: $primary500;
          .timepicker-dial__control {
            font-family: "Poppins", sans-serif;
          }
          .timepicker-period {
            .timepicker-period__btn {
              padding: 3px 6px;
              font-weight: 400;
              border-radius: 4px;
              font-family: "Poppins", sans-serif;
            }
          }
        }
        .timepicker__main-content {
          .timepicker__body {
            padding: 15px;
            ngx-material-timepicker-face {
              .clock-face {
                background: rgba($color: $primary500, $alpha: 0.08);
                .clock-face__container {
                  .clock-face__number {
                    span {
                      width: 36px;
                      height: 36px;
                      font-size: 16px;
                      line-height: 20px;
                      font-weight: 500;
                      color: $color51545F;
                      font-family: "Poppins", sans-serif;
                      &.active {
                        background: $primary500;
                        color: $white;
                      }
                    }
                  }
                  .clock-face__number--outer {
                    height: calc(300px / 2 - 20px);
                  }
                }
                .clock-face__clock-hand {
                  background: $primary500;
                  &::before {
                    border-color: $primary500;
                  }
                  &::after {
                    width: 8px;
                    height: 8px;
                    background: $primary500;
                  }
                }
              }
            }
          }
          .timepicker__actions {
            .timepicker-button {
              padding: 11.5px 20px;
              border-radius: 4px;
              height: auto;
              min-width: 80px;
              border: 1px solid $primary500;
              margin: 0 4px;
              line-height: 20px;
              &:hover {
                background: rgba($color: $primary500, $alpha: 0.07);
              }
              span {
                font-size: 16px;
                line-height: 20px;
                font-weight: 500;
                text-transform: capitalize;
                font-family: "Poppins", sans-serif;
                padding: 0;
                color: $primary500;
              }
            }
            & div:last-child {
              .timepicker-button {
                background: $primary500;
                span {
                  color: $white;
                }
                &:hover {
                  background: $primary600;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Mat Stepper
.primary-stepper {
  &.mat-stepper-horizontal {
    .mat-horizontal-stepper-wrapper {
      .mat-horizontal-stepper-header-container {
        width: 752px;
        max-width: 752px;
        margin: 0 auto;
        border-radius: 56px;
        border: 1px solid #d8dcef;
        background: #eef0f6;
        justify-content: space-between;
        .mat-horizontal-stepper-header {
          height: auto;
          padding: 10px 55px;
          cursor: pointer;
          border-radius: 50px;
          &.mat-horizontal-stepper-header[aria-selected="true"] {
            background: $primary500;
            color: $white;
          }
          .mat-step-icon-state-number {
            color: $white;
            background-color: $primary500;
            &.mat-step-icon-selected {
              background-color: $white;
              color: $primary500;
            }
          }
          .mat-step-label {
            color: $primary500;
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            &.mat-step-label-active.mat-step-label-selected {
              color: $white;
            }
          }
        }
        .mat-stepper-horizontal-line {
          display: none;
        }
      }
    }
    .mat-horizontal-content-container {
      padding: 30px 0 0;
      overflow: visible;
    }
  }

  .action-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    .mat-mdc-button-base {
      margin: 4px 0 4px 12px;
    }
  }
}

// Mat Switch
.mat-mdc-slide-toggle {
  .mdc-form-field {
    .mdc-switch {
      --mdc-switch-track-width: 34px;
      --mdc-switch-unselected-focus-handle-color: $primary500;
      --mdc-switch-unselected-pressed-handle-color: $primary500;
      --mdc-switch-selected-focus-handle-color: $primary500;
      --mdc-switch-selected-hover-handle-color: $primary500;
      --mdc-switch-selected-pressed-handle-color: $primary500;
      --mdc-switch-selected-focus-track-color: #aeb7be;
      --mdc-switch-selected-hover-track-color: #aeb7be;
      --mdc-switch-unselected-track-color: #aeb7be;
      --mdc-switch-selected-track-color: #aeb7be;
      .mdc-switch__track {
        &::before {
          background: #aeb7be;
        }
      }
      &.mdc-switch:enabled {
        &:hover:not(:focus):not(:active) .mdc-switch__track::before {
          background: #aeb7be;
        }
        .mdc-switch__shadow {
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24),
            0px 0px 2px rgba(0, 0, 0, 0.12);
        }
      }
      &.mdc-switch--unselected:enabled {
        .mdc-switch__handle::after,
        &:hover:not(:focus):not(:active) .mdc-switch__handle::after {
          background: $white;
        }
      }
      &.mdc-switch.mdc-switch--selected:enabled:active {
        .mdc-switch__handle::after {
          background: $primary500;
        }
      }
      &.mdc-switch.mdc-switch--selected:enabled:hover:not(:focus):not(:active)
        .mdc-switch__handle::after {
        background: $primary500;
      }
    }
    .mdc-label {
      color: $color51545F;
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-transform: capitalize;
    }
    &.mdc-form-field--align-end {
      .mdc-label {
        margin-left: 0;
        margin-right: auto;
      }
    }
  }
}

// selectable-chips-wrapper
.mat-mdc-chip-listbox.selectable-chips-wrapper {
  .mat-mdc-chip.mat-mdc-chip-option:not(.mdc-evolution-chip--disabled) {
    border-radius: 50px;
    border: 1px solid #b8bfcb;
    background: $white;
    min-height: 40px;
    .mat-mdc-chip-action {
      padding: 0 20px;
      .mat-mdc-chip-graphic {
        display: none;
      }
      .mat-mdc-chip-action-label {
        color: rgba($color: $color51545F, $alpha: 0.5);
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        text-transform: capitalize;
        .result {
          margin-left: 5px;
          color: $color51545F;
          font-weight: 500;
          letter-spacing: 0.14px;
          em{
            color: #46A746;
          }
        }
      }
    }
    &.mdc-evolution-chip--selected{
      background: $primary500!important;
      border-color: $primary500;
      .mat-mdc-chip-action{
        .mat-mdc-chip-action-label{
          color: rgba($color: $white, $alpha: 0.5);
          .result{
            color: $white;
          }
        }
      }
    }
    &:hover{
      background: rgba(45, 97, 172, 0.08);
    }
  }
}

/* Responsive Media Queries
-------------------------------------------------------------------------------------------------*/
@media (max-width: 991px) {
  .primary-stepper.mat-stepper-horizontal {
    .mat-horizontal-stepper-wrapper {
      .mat-horizontal-stepper-header-container {
        width: auto;
        .mat-horizontal-stepper-header {
          padding: 10px 30px;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .mat-custom-pagination {
    padding: 20px 16px;
    flex-direction: column;
    align-items: center;
    .pagination-right {
      padding-top: 16px;
    }
  }

  .primary-dialog.cdk-overlay-pane {
    width: 100%;
    max-width: 80vw !important;
    .mdc-dialog {
      .mdc-dialog__container {
        .mdc-dialog__surface {
          .dialog-header {
            padding: 8px 8px 8px 16px;
            .mat-mdc-dialog-title {
              font-size: 18px;
              line-height: 22px;
            }
          }
          .mat-mdc-dialog-content.dialog-body {
            padding: 16px 16px 0;
          }
          .mat-mdc-dialog-actions.dialog-footer {
            padding: 12px 16px;
          }
        }
      }
    }
  }

  .confirmation-dialog.cdk-overlay-pane {
    width: 100%;
    max-width: 90vw !important;
  }

  .mat-mdc-form-field {
    .mat-mdc-form-field-subscript-wrapper {
      line-height: 21px;
    }
  }

  .primary-stepper {
    &.mat-stepper-horizontal {
      .mat-horizontal-stepper-wrapper {
        .mat-horizontal-stepper-header-container {
          border: 0;
          .mat-horizontal-stepper-header {
            padding: 12px 16px;
            .mat-step-icon-state-number {
              margin-right: 0;
              &.mat-step-icon-selected {
                margin-right: 8px;
              }
            }
            .mat-step-label {
              display: none;
              &.mat-step-label-selected {
                display: block;
              }
            }
          }
        }
      }
    }
    &.mat-stepper-vertical {
      margin: -24px;
      .mat-step {
        .mat-vertical-stepper-header {
          height: auto;
          padding: 16px;
          .mat-step-icon-state-number {
            width: 30px;
            height: 30px;
            background: #838898;
            .mat-step-icon-content {
              font-size: 14px;
              line-height: 18px;
              font-weight: 500;
            }
            &.mat-step-icon-selected {
              background: $primary500;
              .mat-step-icon-content {
                color: $white;
              }
            }
          }
          .mat-step-label {
            font-size: 16px;
            line-height: 30px;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            color: #838898;
            &.mat-step-label-selected {
              color: $primary500;
            }
          }
        }
        .mat-vertical-content-container {
          margin-left: 30px;
          .mat-vertical-content {
            padding: 16px 20px 8px;
            .mat-table-wrapper {
              padding: 0 4px;
            }
            .mat-custom-pagination {
              .pagination-left {
                display: block;
                .page-info {
                  margin-top: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}
