:root {
  // primary colors
  --primary-color: #4c5dde;
  --primary-lighter-color: #c9cef5;
  --primary-darker-color: #3341d1;

  // accent color
  --accent-color: #e8e8e8;
  --accent-lighter-color: #f8f8f8;
  --accent-darker-color: #dedede;

  //warn color
  --warn-color: #fa3a49;
  --warn-lighter-color: #fec4c8;
  --warn-darker-color: #f82531;

  //toaster color
  --color-error: #e60000;
  --color-success: #45af52;
  --color-white: white;
}