:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.file-or-folder {
  padding: 8px;
  overflow: hidden;

  .inside-grid-tile {
    width: 100%;
    padding: 0px 20px;    
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.file-or-folder-icon {
  width: 50px;
  height: 50px;
  font-size: 50px;
}

.pointer {
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

.folder-file-list {
  display: flex;
  align-items: center;

  .file-or-folder-icon {
    margin-right: 8px;
  }
}

.no-file-msg {
  font-size: 20px;
  margin-top: 15px;
  text-align: center;
}

.c-toolbar {
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  background: #ffffff;
}

.dialog-body {
  max-height: 90%;
  display: flex;

  > div {
    text-align: center;
    width: 100%;
  }
}

.preview-img {
  max-height: 100%;
}

.file-path {
  margin-left: 8px;

  @media only screen and (max-width: 600px) {
    white-space: pre-line;
  }
}

.c-dialog-header {
  display: flex;
  justify-content: flex-end;    
  align-items: center;
  background: #eef0f6;
  padding: 12px 8px 12px 20px;
}

.cursor-pointer{
cursor: pointer;
}