:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.file-or-folder {
  padding: 8px;
  overflow: hidden;

  .inside-grid-tile {
    width: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.file-or-folder-icon {
  width: 50px;
  height: 50px;
  font-size: 50px;
}

.pointer {
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

.folder-file-list {
  display: flex;
  align-items: center;

  .file-or-folder-icon {
    margin-right: 8px;
  }
}

.thumbnail-image {
  padding-top: 10px;
  height: 60px;
}

.no-file-msg {
  font-size: 20px;
  margin-top: 15px;
  text-align: center;
}

.c-toolbar {
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  background: #ffffff;
}

.dialog-body {
  max-height: 90%;
  display: flex;

  > div {
    text-align: center;
    width: 100%;
  }
}

.preview-img {
  max-height: 100%;
}

.file-path {
  margin-left: 8px;

  @media only screen and (max-width: 600px) {
    white-space: pre-line;
  }
}

.c-dialog-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #eef0f6;
  padding: 12px 8px 12px 20px;
}

.cursor-pointer {
  cursor: pointer;
}

.main-div {
  display: inline-flex;
  overflow: auto;
}

.list-icon,
.thumbnail-icon {
  font-size: 30px; /* Adjust the font size of the icons */
  flex-shrink: 0; /* Prevent icons from shrinking and getting trimmed */
  color: blue;
}

.view-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.list-button,
.thumbnail-button {
  background-color: transparent;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 6px;
  margin-right: 8px;
  cursor: pointer;
}


.dialog-body {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 90%;

  > div {
    text-align: center;
    width: 100%;
  }
  .preview-img {
    max-width: 90%; 
    max-height: 90%;
    width: auto;
    height: auto;
    margin: auto;
    cursor: pointer;
  }

    .prev-button,
    .next-button {
      background-color: #2d61ac; 
      color: #fff; 
      border-radius: 50%; 
      width: 40px; 
      height: 40px; 
      font-size: 24px; 
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer; 
      transition: background-color 0.3s ease; 
      border: none; 
  
      &:disabled {
        opacity: 0.5;
        cursor: default; 
      }
  
      &:hover:not(:disabled) {
        background-color: #1e4a87;
      }
  
      .mat-icon {
        line-height: 1
      }
    }

  .prev-button {
    left: 10px;
  }

  .next-button {
    right: 10px;
  }
}

.number {
  top: 5px;
  left: 5px;
  color: #000000;
  font-size: 14px;
  padding: 3px 10px;
  font-size: medium;
}