<div class="msg-block">
  <div class="msg-block-inner">
    <img src="assets/images/submitted-icon.svg" alt="" class="msg-block-img" />
    <h2>your test submitted successfully</h2>
    <p>
      Lorem ipsum veniam sed tempor nostrud ex elit minim cupidatat ullamco ut
      commodo proident do dolore ea in ut ex nostrud eiusmod tempor fugiat magna
      nulla incididunt
    </p>
    <button mat-flat-button color="primary" matTooltip="Back To Home">
      go to Home
    </button>
  </div>
</div>
