.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.table-container {
    margin-top: 10px;
}


.button-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.filter-input {
    margin-right: 10px;
}

.check-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
