<div class="page-header">
    <div class="title-wrap">
        <mat-icon class="page-icon">
            <img src="./assets/images/candidates-primary.svg" alt="Candidates" />
        </mat-icon>
        <h4 class="title">
            Candidates
        </h4>
    </div>
    <div class="action-list">
        <button mat-fab color="primary">
            <mat-icon><img src="./assets/images/add-white-full.svg" alt="Add"></mat-icon>
        </button>
    </div>
</div>

<mat-card class="table-card">
    <mat-card-content>
        <div class="mat-table-wrapper">
            <table mat-table [dataSource]="dataSource">

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox color="primary" (change)="$event ? toggleAllRows() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                </ng-container>

                <!-- College Column -->
                <ng-container matColumnDef="college">
                    <th mat-header-cell *matHeaderCellDef> College </th>
                    <td mat-cell *matCellDef="let row"> {{row.college}} </td>
                </ng-container>

                <!-- Group Column -->
                <ng-container matColumnDef="group">
                    <th mat-header-cell *matHeaderCellDef> Group </th>
                    <td mat-cell *matCellDef="let row"> {{row.group}} </td>
                </ng-container>

                <!-- Email Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email ID </th>
                    <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                </ng-container>

                <!-- Contact Column -->
                <ng-container matColumnDef="contact">
                    <th mat-header-cell *matHeaderCellDef> Contact No. </th>
                    <td mat-cell *matCellDef="let row"> {{row.contact}} </td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Status </th>
                    <td mat-cell *matCellDef="let row" class="text-center">
                        <ng-container [ngSwitch]="row.status">
                            <mat-chip *ngSwitchCase="'Active'" [class.ChipSuccess]="row.status">
                                {{row.status}}
                            </mat-chip>
                            <mat-chip *ngSwitchCase="'Inactive'" [class.ChipInactive]="row.status">
                                {{row.status}}
                            </mat-chip>
                        </ng-container>
                    </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Actions </th>
                    <td mat-cell *matCellDef="let row" class="text-center">
                        <button mat-icon-button [matMenuTriggerFor]="tableActionMenu" class="btn-small">
                            <mat-icon>
                                <img src="./assets/images/more-black.svg" alt="Action">
                            </mat-icon>
                        </button>
                        <mat-menu #tableActionMenu="matMenu" xPosition="before">
                            <button mat-menu-item (click)="handleAddCollegeDialog()">
                                <mat-icon>
                                    <img src="./assets/images/edit.svg" alt="Edit">
                                </mat-icon>
                                Edit
                            </button>
                            <button mat-menu-item>
                                <mat-icon>
                                    <img src="./assets/images/active.svg" alt="Active">
                                </mat-icon>
                                Active
                            </button>
                            <button mat-menu-item>
                                <mat-icon>
                                    <img src="./assets/images/inactive.svg" alt="Inactive">
                                </mat-icon>
                                Inactive
                            </button>
                            <button mat-menu-item (click)="handleDeleteProfileDialog()">
                                <mat-icon>
                                    <img src="./assets/images/delete.svg" alt="Delete">
                                </mat-icon>
                                Delete
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                </tr>

            </table>
        </div>
        <div class="mat-custom-pagination">
            <div class="pagination-left">
                <mat-form-field appearance="outline" class="pagination-select remove-hint">
                    <mat-label>Page</mat-label>
                    <mat-select [(ngModel)]="selectedOption">
                        <mat-option *ngFor="let item of paginationOptionsList" [value]="item">
                            {{ item }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <span class="page-info">Showing 10 - 20 of 50 entries</span>
            </div>
            <ul class="pagination-right">
                <li>
                    <a mat-stroked-button href="javascript:void(0)" disabled>
                        <img src="./assets/images/chevron-backward.svg" alt="Prev">
                    </a>
                </li>
                <li>
                    <a mat-stroked-button href="javascript:void(0)" class="active">
                        1
                    </a>
                </li>
                <li>
                    <a mat-stroked-button href="javascript:void(0)">
                        2
                    </a>
                </li>
                <li>
                    <a mat-stroked-button href="javascript:void(0)">
                        3
                    </a>
                </li>
                <li>
                    <a mat-stroked-button href="javascript:void(0)">
                        4
                    </a>
                </li>
                <li>
                    <a mat-stroked-button href="javascript:void(0)">
                        5
                    </a>
                </li>
                <li>
                    <a mat-stroked-button href="javascript:void(0)">
                        <img src="./assets/images/chevron-forward.svg" alt="Prev">
                    </a>
                </li>
            </ul>
        </div>
    </mat-card-content>
</mat-card>