<app-header></app-header>
<div class="body">
  <div class="content admin-pages-wrapper">
    <div class="heading-wrapper">
      <h1>Authentication</h1>
    </div>
    <div class="container">
      <div class="login-page-wrapper">
        <form (ngSubmit)="resetPassword()" [formGroup]="form">
          <div class="row login-row tc-login-row">
            <h2>RESET PASSWORD</h2>
          </div>
          <div class="row login-row tc-login-row">
            <p class="sub">New Password:</p>
            <app-text-control
              [formControlModel]="resetModel.newPasswordField"
              [form]="form"
              (iconClick)="onIconClick(input1)"
              class="w-100"
              #input1
            ></app-text-control>
          </div>
          <div class="row login-row tc-login-row">
            <p class="sub">Confirm Password:</p>
            <app-text-control
              [formControlModel]="resetModel.confirmPasswordField"
              [form]="form"
              (iconClick)="onIconClick(input2)"
              class="w-100"
              #input2
            ></app-text-control>
          </div>
          <div class="row login-row tc-login-row">
            <p
              class="error-message"
              *ngIf="form.hasError('mismatch', 'confirmPassword')"
            >
              Passwords do not match.
            </p>
          </div>
          <div class="row login-row tc-login-row">
            <app-button
              type="submit"
              [isDisabled]="!form.valid || disable"
              label="RESET PASSWORD"
            >
            </app-button>
          </div>
          <div class="row login-row tc-login-row">
            <div class="m-10">
              <a [routerLink]="['/']">Login Page</a>
            </div>
          </div>
        </form>
      </div>
      <div class="pagehelp">
        In order to access the different sections of TCExam you must log in
        using the name and password provided to you by the system administrator
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
