<!-- <p>reset-password works!</p>
<div class="reset-password">
    <h2>Reset Password</h2>
    <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" formControlName="newPassword">
        <div *ngIf="resetForm.get('newPassword')!.invalid && (resetForm.get('newPassword')!.dirty || resetForm.get('newPassword')!.touched)">
          <div *ngIf="resetForm.get('newPassword')!.hasError('required')">New Password is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword">
        <div *ngIf="resetForm.get('confirmPassword')!.invalid && (resetForm.get('confirmPassword')!.dirty || resetForm.get('confirmPassword')!.touched)">
          <div *ngIf="resetForm.get('confirmPassword')!.hasError('required')">Confirm Password is required</div>
          <div *ngIf="passwordsDoNotMatch">Passwords do not match</div>
        </div>
      </div>
      <button type="submit" [disabled]="resetForm.invalid">Reset Password</button>
    </form>
    <div class="reset-status" *ngIf="resetSuccess">
      Password reset successfully!
    </div>
  </div> -->



  
<div class="header site-header">
    <div class="left">
        <img src="assets/images/Tatvasoft-logo.jpg" alt="site-logo">
        <div class="navbar">
            <ul class="menu">
                <li><a href="#" title="public area">Public</a></li>
                <li class="spacer"></li>
                <li><a href="#" title="click here to log-in">Login</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="body" style="min-height: calc(100vh - 240px);">
    <div class="content admin-pages-wrapper">
        <a name="topofdoc" id="topofdoc"></a>
        <div class="heading-wrapper">
            <h1>Authentication</h1>
        </div>
        <div class="container">
            <div class="login-page-wrapper">
                <form (ngSubmit)="resetPassword()" [formGroup]="form">
                    <div class="error-message" *ngIf="resetFailed">
                        Error. Please try again.
                    </div>
                    <div class="row login-row tc-login-row">
                        <h2>RESET PASSWORD</h2>
                    </div>
                    <div class="row login-row tc-login-row">
                        <p class="sub">New Password:</p>
                        <app-text-control [formControlModel]="resetModel.newPasswordField" [form]="form" (iconClick)="onIconClick(input)"
                            class="w-100" #input></app-text-control>
                    </div>
                    <div class="row login-row tc-login-row">
                        <p class="sub">Confirm Password:</p>
                        <app-text-control [formControlModel]="resetModel.confirmPasswordField" [form]="form" (iconClick)="onIconClick(input)"
                            class="w-100" #input></app-text-control>
                    </div>
                    <div *ngIf="passwordsDoNotMatch">Passwords do not match</div>
                    <div class="row login-row tc-login-row">
                        <app-button type="submit" [isDisabled]="!form.valid || disable" 
                            label="RESET PASSWORD"> </app-button>
                    </div>
                    <div class="row login-row tc-login-row">
                        <div class="m-10">
                            <a [routerLink]="['/']">Login Page</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="pagehelp">In order to access the different sections of TCExam you must log in using the name and
                password provided to you by the system administrator</div>
        </div>
    </div>
</div>
<footer class="site-footer">
    <p>Version : 1.1.7920.20623</p>
    <p>Copyright © TatvaSoft All rights reserved.</p>
</footer>
  