<div class="page-header">
  <div class="title-wrap">
    <mat-icon class="page-icon">
      <img src="./assets/images/test-primary.svg" alt="Test" />
    </mat-icon>
    <h4 class="title">Test</h4>
  </div>
  <div class="action-list">
    <button
      mat-flat-button
      color="primary"
      class="btn-with-icon"
      routerLink="/admin/tests/create"
    >
      <mat-icon
        ><img src="./assets/images/add-white-full.svg" alt="Test"
      /></mat-icon>
      Create Test
    </button>
  </div>
</div>

<form [formGroup]="form">
  <mat-card class="form-block mb-3">
    <mat-card-content class="pb-0">
      <div class="row">
        <div class="col-sm">
          <div class="row">
            <div class="col-xxl-4 col-lg-3 col-sm-6">
              <app-text-control
                [formControlModel]="formData.searchQuery"
                [form]="form"
              ></app-text-control>
            </div>
            <div class="col-xxl-4 col-lg-3 col-sm-6">
              <app-select
                [form]="form"
                [formControlModel]="formData.groupId"
                [options]="groupList"
              >
              </app-select>
            </div>
            <div class="col-xxl-2 col-lg-3 col-sm-6">
              <app-select
                [form]="form"
                [formControlModel]="formData.status"
                [options]="statusList"
              >
              </app-select>
            </div>
            <div class="col-xxl-2 col-lg-3 col-sm-6">
              <app-date-picker [form]="form" [formControlModel]="formData.date">
              </app-date-picker>
            </div>
          </div>
        </div>
        <div class="col-sm-auto pb-2 pb-sm-0">
          <button
            type="button"
            mat-stroked-button
            color="primary"
            class="mt-auto"
            (click)="resetForm()"
          >
            clear
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
<app-table
  [dataSource]="dataSource"
  [columns]="displayedColumns"
  [pagination]="true"
  (editClicked)="handleEditTest($event)"
  (deleteClicked)="handleDeleteTestDialog($event)"
  [totalItemsCount]="totalItemsCount"
  [pageSize]="pageSize"
  [isTestTable]="true"
  (pageSizeChanged)="handlePageSizeChange($event)"
  (pageToPage)="handlePageToPage($event)"
  (pageChanged)="handlePageChange($event)"
  (sortingChanged)="handleDataSorting($event)"
></app-table>
