@media (min-width: 992px) and (max-width: 1416px) {
    .grade-error-register {
        position: relative;
        top: -10px;
        left: -15px;
    }
}

@media (min-width: 992px) {
    .grade-error {
        position: relative;
        top: -10px;
        left: -15px;
    }
}