<mat-card class="form-block-secondary mb-3">
  <mat-card-content class="pb-0">
    <div class="card-header px-0 pt-0">
      <h5 class="card-header-title">Education details</h5>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <p>Degree Specialization</p>
      </div>
      <div class="col-sm-6 col-lg-4">
        <p>School/College/University</p>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <p>Stream</p>
      </div>
      <div class="col-6 col-sm-3 col-lg-1">
        <p>CGPA / Percentage</p>
      </div>
      <div class="col-6 col-sm-3 col-lg-1">
        <p>Maths</p>
      </div>
      <div class="col-6 col-sm-3 col-lg-1">
        <p>Physics</p>
      </div>
    </div>
    <hr class="hr-line d-lg-none" />
    <form [formGroup]="form">
      <div formArrayName="educationDetailsArray">
        <div
          *ngFor="
            let educationDetail of educationDetailsArray.controls;
            let i = index
          "
        >
          <div class="row" [formGroupName]="i">
            <div class="col-sm-6 col-lg-3">
              <mat-form-field appearance="outline">
                <mat-label>{{ labelNameForDegree[i] }}</mat-label>
                <mat-select formControlName="degreeId" [required]="i < 3">
                  <mat-option
                    *ngFor="let option of educationDetailOptions(i)"
                    [value]="option.id"
                  >
                    {{ option.value }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    educationDetail.get('degreeId')?.invalid &&
                    educationDetail.get('degreeId')?.touched
                  "
                >
                  {{ ErrorMessage.DegreeSpecialization }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-lg-4">
              <mat-form-field appearance="outline">
                <mat-label>{{ labelNameForCollege[i] }}</mat-label>
                <input
                  matInput
                  formControlName="university"
                  [required]="i < 3"
                />
                <mat-error
                  *ngIf="
                    educationDetail.get('university')?.invalid &&
                    educationDetail.get('university')?.touched
                  "
                >
                  {{ ErrorMessage.University }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-6 col-sm-3 col-lg-2">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Stream</mat-label>
                <mat-select formControlName="streamId" [required]="i < 3">
                  <mat-option
                    *ngFor="let option of StreamDetailOptions(i)"
                    [value]="option.id"
                  >
                    {{ option.value }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    educationDetail.get('streamId')?.invalid &&
                    educationDetail.get('streamId')?.touched
                  "
                >
                  {{ ErrorMessage.Stream }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-6 col-sm-3 col-lg-1">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>CGPA / Percentage</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="grade"
                  appNumbersOnly
                  appMaxLength
                  [maxLength]="3"
                  [min]="MinMaxValue.Min"
                  [max]="MinMaxValue.Max"
                  [required]="i < 3"
                />

                <mat-error
                  *ngIf="
                    educationDetail.get('grade')?.getError &&
                    educationDetail.get('grade')?.touched
                  "
                >
                  {{ getError(educationDetail.get("grade")) }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-6 col-sm-3 col-lg-1">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Maths</mat-label>
                <input
                  matInput
                  type="number"
                  appMaxLength
                  [maxLength]="3"
                  appNumbersOnly
                  [min]="MinMaxValue.Min"
                  [max]="MinMaxValue.Max"
                  formControlName="maths"
                  [required]="i < 3"
                />
                <mat-error
                  *ngIf="
                    educationDetail.get('maths')?.invalid &&
                    educationDetail.get('maths')?.touched
                  "
                >
                  {{ getError(educationDetail.get("maths")) }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-6 col-sm-3 col-lg-1">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Physics</mat-label>
                <input
                  matInput
                  type="number"
                  appNumbersOnly
                  appMaxLength
                  [maxLength]="3"
                  [min]="MinMaxValue.Min"
                  [max]="MinMaxValue.Max"
                  formControlName="physics"
                  [required]="i < 3"
                />
                <mat-error
                  *ngIf="
                    educationDetail.get('physics')?.invalid &&
                    educationDetail.get('physics')?.touched
                  "
                >
                  {{ getError(educationDetail.get("physics")) }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <hr class="hr-line d-lg-none" />
      </div>
    </form>
  </mat-card-content>
</mat-card>
