.mat-mdc-form-field-error-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 0px;
}

.mdc-button.mat-mdc-button-base,
.mat-mdc-unelevated-button.mat-mdc-button-base {
  margin-left: 10px;
}
