<div class="dialog-header">
    <h2 mat-dialog-title>Candidate Details</h2>
    <button mat-icon-button class="dialog-close" (click)="closeModal()">
        <mat-icon>
            <img src="./assets/images/close-grey.svg" alt="Close" />
        </mat-icon>
    </button>
</div>
<mat-dialog-content class="dialog-body pb-0">
    <form [formGroup]="form" (ngSubmit)="onSaveClick()">
        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>{{fromControls.firstName.label}}</mat-label>
                    <input matInput [formControlName]="fromControls.firstName.key" />
                    <mat-error>{{
                        _formValidators.getError(form, fromControls.firstName, fromControls.firstName.key)
                        }}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>{{fromControls.fatherName.label}}</mat-label>
                    <input matInput [formControlName]="fromControls.fatherName.key" />
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>{{fromControls.lastName.label}}</mat-label>
                    <input matInput [formControlName]="fromControls.lastName.key" />
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>{{fromControls.group.label}}</mat-label>
                    <mat-select [formControlName]="fromControls.group.key">
                        <mat-option *ngFor="let item of groups" [value]="item.id">
                            {{ item.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error>{{
                        _formValidators.getError(form, fromControls.group, fromControls.group.key)
                        }}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>{{fromControls.college.label}}</mat-label>
                    <mat-select [formControlName]="fromControls.college.key">
                        <mat-option *ngFor="let item of colleges" [value]="item.id">
                            {{ item.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error>{{
                        _formValidators.getError(form, fromControls.college, fromControls.college.key)
                        }}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>{{fromControls.email.label}}</mat-label>
                    <input matInput [formControlName]="fromControls.email.key" />
                    <mat-error>{{
                        _formValidators.getError(form, fromControls.email, fromControls.email.key)
                        }}</mat-error>
                    <mat-error *ngIf="form.get('email')?.hasError('pattern')">
                        Invalid email format
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>{{fromControls.phoneNumber.label}}</mat-label>
                    <input type="number" matInput [formControlName]="fromControls.phoneNumber.key" />
                    <mat-error>{{
                        _formValidators.getError(form, fromControls.phoneNumber, fromControls.phoneNumber.key)
                        }}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>{{fromControls.gender.label}}</mat-label>
                    <mat-select [formControlName]="fromControls.gender.key">
                        <mat-option *ngFor="let item of optionsListForGender" [value]="item">
                            {{ item }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>{{fromControls.status.label}}</mat-label>
                    <mat-select [formControlName]="fromControls.status.key">
                        <mat-option *ngFor="let item of optionsListForStatus" [value]="item">
                            {{ item }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="dialog-footer">
    <button type="submit" (click)="onSaveClick()" mat-flat-button color="primary">Add</button>
    <button mat-stroked-button color="primary" [mat-dialog-close]="true">
        Cancel
    </button>
</mat-dialog-actions>