<div class="page-header {{ isAdmin ? '' : 'register' }}">
  <div class="title-wrap">
    <mat-icon class="page-icon">
      <img
        src="./assets/images/{{
          isAdmin ? 'candidates-primary.svg' : 'results-primary.svg'
        }}"
        alt="Candidates"
      />
    </mat-icon>
    <h4 class="title">
      {{
        isAdmin
          ? "Candidate Details"
          : candidateEditMode
          ? "My Profile"
          : "Register"
      }}
    </h4>
  </div>
  <div class="action-list" *ngIf="isAdmin">
    <button
      mat-stroked-button
      class="btn-stroked-default"
      (click)="handleBackBtn()"
      matTooltip="Back"
    >
      <mat-icon>
        <img src="./assets/images/back-arrow.svg" alt="Action" />
      </mat-icon>
    </button>
  </div>
</div>

<app-personal-info
  [candidateEditMode]="candidateEditMode"
  [candidateData]="candidateData"
  [isAdmin]="isAdmin"
  [collegeSelectedByCandidate]="collegeSelectedByCandidate"
></app-personal-info>
<app-education-details
  [academicDetails]="academicDetails"
  [isAdmin]="isAdmin"
></app-education-details>
<app-exam-scores [candidateData]="candidateData"></app-exam-scores>
<app-family-background [familyDetails]="familyDetails"></app-family-background>

<div class="page-action-buttons d-flex justify-content-end">
  <button
    mat-flat-button
    color="primary"
    (click)="Save()"
    [disabled]="disabled"
  >
    {{ isAdmin ? "Update" : candidateEditMode ? "Save" : "Register" }}
  </button>
  <button
    *ngIf="!candidateEditMode"
    mat-stroked-button
    color="primary"
    (click)="handleBackBtn()"
    class="ms-1"
  >
    Cancel
  </button>
</div>
