@import './assets/scss/core';

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .main-content {
    padding: 3rem 4rem;
    flex: 1;
    @media (max-width: 991px) {
      padding: 2rem;
    }
    @media (max-width: 767px) {
      padding: 1.5rem;
    }
  }
  
  .page-title {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    @media (max-width: 991px) {
      margin-bottom: 2rem;
    }
    .right-block {
      display: flex;
      gap: 1.6rem;
      align-items: center;
    }
    h3 {
      padding: 0;
    }
    .mat-form-field-wrapper {
      padding: 0;
      margin: 0;
    }
  }
  
  // table
  .responsive-table {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    .mat-table td.mat-cell {
      min-width: 11.2rem;
    }
  }
  
  /* Footer
  --------------------------------------------------------------------------------------------------------*/
  .footer {
    margin-top: auto;
    padding: 1.5rem;
    font-weight: 600;
    color: #333333;
  }
  
  .copyright {
    padding: 0;
  }
    