.action-btn {
  display: flex;
  gap: 15px;
}

.question {
  user-select: none;
  text-align: left;
}

.question p,
.question h2,
.question h1,
.question h3,
.question h4 .question span {
  display: inline-block;
}
