<div class="page-header">
  <div class="title-wrap">
    <mat-icon class="page-icon">
      <img src="./assets/images/candidates-primary.svg" alt="Candidates" />
    </mat-icon>
    <h4 class="title">Candidates</h4>
  </div>
  <div class="action-list">
    <button mat-fab color="primary" (click)="handleAddCandidateDialog()">
      <mat-icon
        ><img src="./assets/images/add-white-full.svg" alt="Add"
      /></mat-icon>
    </button>
    <button
      mat-flat-button
      color="primary"
      class="btn-with-icon"
      routerLink="/admin/candidate/import-candidate"
    >
      <mat-icon
        ><img src="./assets/images/import-white.svg" alt="Import"
      /></mat-icon>
      Import
    </button>
    <button
      mat-stroked-button
      [matMenuTriggerFor]="actionMenu"
      class="btn-stroked-default"
      style="padding: 10px"
    >
      <mat-icon style="width: 24px; height: 24px">
        <img src="./assets/images/more-black.svg" alt="Action" />
      </mat-icon>
    </button>
    <mat-menu #actionMenu="matMenu" xPosition="before">
      <button mat-menu-item (click)="handleActiveInactiveSelected(true)">
        <mat-icon>
          <img src="./assets/images/active.svg" alt="Active" />
        </mat-icon>
        Active
      </button>
      <button mat-menu-item (click)="handleActiveInactiveSelected(false)">
        <mat-icon>
          <img src="./assets/images/inactive.svg" alt="Inactive" />
        </mat-icon>
        Inactive
      </button>
      <button mat-menu-item (click)="handleDeleteSelected()">
        <mat-icon>
          <img src="./assets/images/delete.svg" alt="Delete" />
        </mat-icon>
        Delete
      </button>
    </mat-menu>
  </div>
</div>

<mat-card class="form-block mb-3">
  <mat-card-content class="pb-0">
    <div class="row">
      <div class="col-sm">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <mat-form-field appearance="outline">
              <mat-label>Search candidate..</mat-label>
              <input
                matInput
                [(ngModel)]="searchCandidate"
                (input)="onSearchChange()"
              />
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-sm-6">
            <mat-form-field appearance="outline">
              <mat-label>Group</mat-label>
              <mat-select
                [(ngModel)]="selectedGroup"
                (ngModelChange)="onFilterChange()"
              >
                <mat-option [value]="null">All</mat-option>
                <mat-option *ngFor="let item of groups" [value]="item">
                  {{ item.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-sm-6">
            <mat-form-field appearance="outline">
              <mat-label>College</mat-label>
              <mat-select
                [(ngModel)]="selectedCollege"
                (ngModelChange)="onFilterChange()"
              >
                <mat-option [value]="null">All</mat-option>
                <mat-option *ngFor="let item of colleges" [value]="item">
                  {{ item.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-sm-6">
            <mat-form-field appearance="outline">
              <mat-label>Year Added</mat-label>
              <mat-select
                [(ngModel)]="selectedYear"
                (ngModelChange)="onFilterChange()"
              >
                <mat-option [value]="null">All</mat-option>
                <mat-option *ngFor="let year of optionsList" [value]="year">
                  {{ year }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-sm-auto pb-2 pb-sm-0">
        <button mat-stroked-button color="primary" (click)="clearFilters()">
          clear
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<app-table
  [dataSource]="dataSource"
  [columns]="columns"
  [pagination]="true"
  (editClicked)="handleEditCandidate($event)"
  (deleteClicked)="getDeleteCandidateDialog($event)"
  (actionClicked)="getupdateStatus($event.row, $event.action)"
  [totalItemsCount]="totalItemsCount"
  [pageSize]="pageSize"
  (pageSizeChanged)="handlePageSizeChange($event)"
  (pageToPage)="handlePageToPage($event)"
  (pageChanged)="handlePageChange($event)"
  (sortingChanged)="handleDataSorting($event)"
  #myTable
></app-table>
