/* Customize the dialog width and styles */
::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    display: block;
    width: 147%; /* Set your desired width */
    height: 100%;
  }
  
  
  .custom-dialog {
    max-width: 400px; /* Set your desired width */
    width: 100%;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
  
    .mat-dialog-content {
      padding: 0;
    }
  
    /* Adjust styles for input fields as needed */
    .input-field {
      width: 100%;
      margin: 10px 0;
    }
  
    .mat-checkbox {
      margin: 10px 0;
    }
  
    .cancel-button {
      background-color: #d32f2f; /* Customize the cancel button color */
      color: white;
    }
  
    .save-button {
      background-color: #1976D2; /* Customize the save button color */
      color: white;
    }
  }
  